FLOWS NODERED/flows_2019_09_10.json
[{"id":"5ed8f0b3.34a62","type":"tab","label":"MAIN","disabled":false,"info":""},{"id":"9c0f0d4b.834c5","type":"tab","label":"DATA HISTORY","disabled":false,"info":""},{"id":"9936d9a0.efcbe8","type":"mqtt-broker","z":"","name":"","broker":"192.168.201.33","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd9ce8a2.4ff108","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#981e32","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#981e32","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#981e32","edited":true},"page-titlebar-backgroundColor":{"value":"#981e32","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#981e32","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"170a236a.bc605d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4b929872.294b38","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"65567ae.74e2784","type":"ui_group","z":"","name":"ESP","tab":"170a236a.bc605d","order":1,"disp":false,"width":"6","collapse":false},{"id":"abfd547d.b421d8","type":"ui_tab","z":"","name":"DATA HISTORY","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"91329079.a4b81","type":"ui_spacer","name":"spacer","group":"65567ae.74e2784","order":3,"width":1,"height":1},{"id":"9f27a7a5.d50918","type":"ui_group","z":"","name":"Dados","tab":"170a236a.bc605d","order":2,"disp":false,"width":"20","collapse":false},{"id":"16204fb4.68152","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"efcd8f77.7bd43","type":"ui_group","z":"","name":"SETTINGS","tab":"abfd547d.b421d8","order":1,"disp":true,"width":"9","collapse":false},{"id":"30fc5f6.c1e42a","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":8,"width":"6","height":1},{"id":"214e559b.f7849a","type":"ui_group","name":"Group 1","tab":"16204fb4.68152","order":1,"disp":true,"width":6},{"id":"4d419568.05222c","type":"ui_spacer","name":"spacer","group":"214e559b.f7849a","order":1,"width":1,"height":1},{"id":"af2c2e72.8c39e","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"laumecdb","tz":""},{"id":"524c7f3f.f49d8","type":"ui_group","z":"","name":"Thermostat demo","tab":"","order":2,"disp":true,"width":"6"},{"id":"c8153179.719c9","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"df184fb1.afcae","type":"ui_spacer","name":"spacer","group":"65567ae.74e2784","order":5,"width":"2","height":"1"},{"id":"d23e338.fdc98d","type":"ui_group","z":"","name":"GRAPH","tab":"abfd547d.b421d8","order":2,"disp":true,"width":"26","collapse":true},{"id":"474d4ea9.5dd5e","type":"ui_spacer","name":"spacer","group":"9f27a7a5.d50918","order":1,"width":"20","height":1},{"id":"97680f6d.56852","type":"ui_spacer","name":"spacer","group":"9f27a7a5.d50918","order":4,"width":"20","height":1},{"id":"b5cdbbf4.0b0a68","type":"MySQLdatabase","z":"","host":"10.21.11.15","port":"3306","db":"i4inari","tz":""},{"id":"4b89447e.e7be5c","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":1,"width":1,"height":1},{"id":"4b9b0090.876fa","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":4,"width":1,"height":1},{"id":"fd8eabce.617178","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":5,"width":1,"height":1},{"id":"757325a4.d3897c","type":"mqtt in","z":"5ed8f0b3.34a62","name":"","topic":"v1/devices/me/telemetry","qos":"2","datatype":"auto","broker":"9936d9a0.efcbe8","x":149,"y":405,"wires":[["efc8e92d.1cfc78"]]},{"id":"efc8e92d.1cfc78","type":"json","z":"5ed8f0b3.34a62","name":"","property":"payload","action":"obj","pretty":false,"x":417,"y":405,"wires":[["ea7863a4.83c51"]]},{"id":"ea7863a4.83c51","type":"function","z":"5ed8f0b3.34a62","name":"RAW DATA","func":"var msg1={};\nvar msg2={};\np = msg.payload;\nnode.log(typeof p);\nmsg.payload=p.data.db;\nmsg1.payload = p.esp;\nmsg2.payload = p.data;\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":627.5,"y":403,"wires":[["37fa4e17.46c7f2"],["7d14c045.5f69e"],["31cdbe28.18bfb2","f3acaadd.abc498","d2049f17.d32e8","7865516b.3421d"]]},{"id":"37fa4e17.46c7f2","type":"ui_gauge","z":"5ed8f0b3.34a62","name":"","group":"65567ae.74e2784","order":4,"width":0,"height":0,"gtype":"gage","title":"SOUND","label":"dB","format":"{{value}} dB","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":858.5,"y":325,"wires":[]},{"id":"7d14c045.5f69e","type":"ui_text","z":"5ed8f0b3.34a62","group":"65567ae.74e2784","order":1,"width":0,"height":0,"name":"ESP Name","label":"Nome do dispositivo","format":"{{msg.payload}}","layout":"row-spread","x":868.5,"y":360,"wires":[],"inputLabels":["1 :"]},{"id":"31cdbe28.18bfb2","type":"function","z":"5ed8f0b3.34a62","name":"DATA","func":"var temp1={};\nvar temp2={};\nvar humid={};\nvar press={};\nvar db={};\n\np = msg.payload;\nnode.log(typeof p);\ntemp1.payload=p.temperature[0];\ntemp2.payload=p.temperature[1];\nhumid.payload = p.humidity;\npress.payload = p.pressure;\ndb.payload = p.db;\nreturn [temp1,temp2,humid,press,db];\n","outputs":5,"noerr":0,"x":760.5,"y":609,"wires":[["767fddcf.ccf3d4","ca7ab82c.b1ef48"],["6d811b11.bbdec4"],["981bf775.48d878","41198ac8.9b4844"],["3a49b656.d626fa"],["58c90b91.12f704"]]},{"id":"b57e919f.4694c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":5,"width":"20","height":"6","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1405.5,"y":628,"wires":[[]]},{"id":"eab76c93.5ee8c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":6,"width":"20","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1395,"y":662,"wires":[[]]},{"id":"6e58cbd8.788644","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1790.5,"y":412,"wires":[[]]},{"id":"d3cd913.28fab7","type":"function","z":"5ed8f0b3.34a62","name":"Temperaturas","func":"var msg2={};\nvar date= msg.payload[0] ;\n\n//time=msg.now; \np = msg.payload[1];\ntemp1=p.temperature[0];\ntemp2=p.temperature[1];\n\nmsg2.topic=('INSERT INTO temp_table (Data,temp1,temp2) VALUES (\"'+ date.toString() + '\",' + temp1 + ',' + temp2.toFixed(2)+ ')');\nreturn msg2;\n","outputs":1,"noerr":0,"x":1578.5,"y":412,"wires":[["6e58cbd8.788644"]]},{"id":"d8665e57.c557e","type":"function","z":"5ed8f0b3.34a62","name":"Humidade","func":"var msg3={};\nvar humid;\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\n//time=msg.now; \nq = msg.payload[1];\nhumid = q.humidity;\n\nmsg3.topic=('INSERT INTO humid_table (Data, humid) VALUES (\"'+ date.toString() + '\",' + humid + ')');\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\n\nreturn msg3;\n","outputs":1,"noerr":0,"x":1585,"y":360,"wires":[["a625428f.a2f8"]]},{"id":"75bb0300.373b2c","type":"moment","z":"5ed8f0b3.34a62","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":909.5,"y":153,"wires":[["f3acaadd.abc498","d2049f17.d32e8","98f4488.9462bb8","7865516b.3421d"]]},{"id":"fdabce45.a3d7c","type":"inject","z":"5ed8f0b3.34a62","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":672.5,"y":155,"wires":[["75bb0300.373b2c"]]},{"id":"f3acaadd.abc498","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1161.5,"y":358,"wires":[["486773e1.97a0ac","d99ec83c.439038"]]},{"id":"486773e1.97a0ac","type":"function","z":"5ed8f0b3.34a62","name":"Data e Hora","func":"var msg3={};\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\nmsg3.topic=(\"INSERT INTO humid_table (Data,humid) VALUES ('\"+ date.toString() +\"',1)\");\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\nmsg3.payload = date;\nreturn msg3;\n","outputs":1,"noerr":0,"x":1396,"y":215,"wires":[[]]},{"id":"d2049f17.d32e8","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1158,"y":412,"wires":[["68b65121.a6467"]]},{"id":"767fddcf.ccf3d4","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":945.5,"y":590,"wires":[["9bd6324.877b6d"]]},{"id":"6d811b11.bbdec4","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":944,"y":631,"wires":[["5441c8a9.a554d8"]]},{"id":"981bf775.48d878","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":949,"y":671,"wires":[["f997ea24.3bd878"]]},{"id":"a625428f.a2f8","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1793,"y":360,"wires":[[]]},{"id":"1c097b58.2511a5","type":"inject","z":"5ed8f0b3.34a62","name":"Limpar Graficos","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":959.5,"y":515,"wires":[["b57e919f.4694c","eab76c93.5ee8c"]]},{"id":"98f4488.9462bb8","type":"ui_text","z":"5ed8f0b3.34a62","group":"65567ae.74e2784","order":2,"width":"6","height":"2","name":"","label":"DATA E HORA","format":"<font size = 5 color = white><i class=\"material-icons\"> access_time </i> {{msg.payload}} ","layout":"col-center","x":1209.5,"y":144,"wires":[]},{"id":"fd3180f1.2e1b5","type":"change","z":"5ed8f0b3.34a62","name":"Temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1201.5,"y":587,"wires":[["b57e919f.4694c"]]},{"id":"797d2388.e9345c","type":"change","z":"5ed8f0b3.34a62","name":"temp2","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temp Ada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1201,"y":629,"wires":[["b57e919f.4694c"]]},{"id":"9da36a7e.6fb5f8","type":"ui_date_picker","z":"9c0f0d4b.834c5","name":"","label":"IN","group":"efcd8f77.7bd43","order":2,"width":"4","height":"1","passthru":true,"topic":"","x":185.78569793701172,"y":227.71426963806152,"wires":[["1f0331a2.b9728e","7cfc2af0.aca8f4"]]},{"id":"719a9b44.f298d4","type":"ui_date_picker","z":"9c0f0d4b.834c5","name":"","label":"OUT","group":"efcd8f77.7bd43","order":6,"width":"4","height":"1","passthru":true,"topic":"","x":188.78569793701172,"y":314.7142696380615,"wires":[["96c2a589.816088"]]},{"id":"e74e1161.15e9f","type":"ui_chart","z":"9c0f0d4b.834c5","name":"","group":"d23e338.fdc98d","order":2,"width":"26","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"DD/MM HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1584.28564453125,"y":314.7142639160156,"wires":[[]]},{"id":"add4ddbd.351ed","type":"ui_chart","z":"9c0f0d4b.834c5","name":"","group":"d23e338.fdc98d","order":1,"width":"26","height":"6","label":"Temperature","chartType":"line","legend":"true","xformat":"DD/MM HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1585.7856979370117,"y":259.7142696380615,"wires":[[]]},{"id":"94031fc3.a5737","type":"function","z":"9c0f0d4b.834c5","name":"GET","func":"\n//msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\nI=msg.payload[0]\nO=msg.payload[1]\n\n//msg.topic=('SELECT Data,temp1 from temp_table WHERE Data >=\"'+ I + '\" LIMIT 20');\n\n//msg.topic=('SELECT * from temp_table WHERE Data >=\"'+ I + '\"');\n\nmsg.topic= ('SELECT * FROM temp_table WHERE Data BETWEEN \"' + I + '\" AND \"' + O + '\"') ;\n\n//msg.topic=('SELECT * from temp_table WHERE Data BETWEEN \"'+ I + '\" AND \"' + O + '\"');\n\nreturn msg;","outputs":1,"noerr":0,"x":758.2856979370117,"y":281.7142696380615,"wires":[["5671b5b2.8724dc"]]},{"id":"6e45cfa1.9fb78","type":"join","z":"9c0f0d4b.834c5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":554.7856979370117,"y":287.7142696380615,"wires":[["94031fc3.a5737","e15c2811.a658d8","306ba33e.4f93fc"]]},{"id":"8a8380b3.ba657","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":545.2856979370117,"y":415.7142696380615,"wires":[]},{"id":"4385796c.e56bb8","type":"ui_button","z":"9c0f0d4b.834c5","name":"","group":"efcd8f77.7bd43","order":9,"width":"0","height":"0","passthru":false,"label":"MOSTRAR","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"true","payloadType":"bool","topic":"","x":125.28569793701172,"y":417.7142696380615,"wires":[["bb3c1cd8.c77d6"]]},{"id":"bb3c1cd8.c77d6","type":"change","z":"9c0f0d4b.834c5","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":322.7856979370117,"y":417.7142696380615,"wires":[["8a8380b3.ba657","6e45cfa1.9fb78"]]},{"id":"cfd9eb9f.bcff48","type":"inject","z":"9c0f0d4b.834c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131.28569793701172,"y":59.71426963806152,"wires":[["8092f1d3.fe41b"]]},{"id":"3d00dcf1.8ca6b4","type":"ui_slider","z":"5ed8f0b3.34a62","name":"","label":"","tooltip":"","group":"65567ae.74e2784","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":626,"y":973,"wires":[["971b943b.937b08"]]},{"id":"971b943b.937b08","type":"ui_numeric","z":"5ed8f0b3.34a62","name":"","label":"LIMIT","tooltip":"","group":"65567ae.74e2784","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":824,"y":974,"wires":[["3d00dcf1.8ca6b4"]]},{"id":"23134f12.ed929","type":"ui_dropdown","z":"5ed8f0b3.34a62","name":"","label":"ESP","tooltip":"Numero da ilha a mostrar.","place":"Escolher Ilha","group":"214e559b.f7849a","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Esp1","value":"1","type":"str"}],"payload":"","topic":"esp","x":447,"y":977,"wires":[[]]},{"id":"9743e08e.46dcc","type":"inject","z":"9c0f0d4b.834c5","name":"Limpar Graficos","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1328.2856979370117,"y":436.7142696380615,"wires":[["e74e1161.15e9f","add4ddbd.351ed","4e298bd.f0aa774"]]},{"id":"ca7ab82c.b1ef48","type":"ui_text","z":"5ed8f0b3.34a62","group":"9f27a7a5.d50918","order":2,"width":"10","height":"1","name":"Temperatura","label":"Temperatura","format":"<font size = 5 color = white> {{msg.payload}} ºC","layout":"col-center","x":1390.5,"y":529,"wires":[]},{"id":"9bd6324.877b6d","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":1082.5,"y":590,"wires":[["fd3180f1.2e1b5"]]},{"id":"41198ac8.9b4844","type":"ui_text","z":"5ed8f0b3.34a62","group":"9f27a7a5.d50918","order":3,"width":"10","height":"1","name":"Humidade","label":"Humidade","format":"<font size = 5 color = white> {{msg.payload}} %","layout":"col-center","x":1389,"y":562,"wires":[]},{"id":"5441c8a9.a554d8","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":1077,"y":630,"wires":[["797d2388.e9345c"]]},{"id":"f997ea24.3bd878","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":1081,"y":674,"wires":[["eab76c93.5ee8c"]]},{"id":"3a49b656.d626fa","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":940,"y":710,"wires":[["d1ff69d7.98fa28"]]},{"id":"b93fd363.71475","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":6,"width":"20","height":"6","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1395,"y":699,"wires":[[]]},{"id":"861ff895.d88768","type":"ui_ui_control","z":"5ed8f0b3.34a62","name":"","x":625,"y":822,"wires":[[]]},{"id":"b3979c8d.937a7","type":"ui_button","z":"5ed8f0b3.34a62","name":"","group":"65567ae.74e2784","order":7,"width":0,"height":0,"passthru":false,"label":"Dados passados","tooltip":"","color":"","bgcolor":"","icon":"history","payload":"1","payloadType":"str","topic":"","x":410,"y":822,"wires":[["861ff895.d88768"]]},{"id":"1d0dab96.e2c214","type":"ui_ui_control","z":"9c0f0d4b.834c5","name":"","x":303.2856979370117,"y":479.7142696380615,"wires":[[]]},{"id":"651cd9fb.0109c8","type":"ui_button","z":"9c0f0d4b.834c5","name":"","group":"efcd8f77.7bd43","order":12,"width":0,"height":0,"passthru":false,"label":"Tempo Real","tooltip":"","color":"","bgcolor":"","icon":"timeline","payload":"0","payloadType":"str","topic":"","x":124.28569793701172,"y":480.7142696380615,"wires":[["1d0dab96.e2c214"]]},{"id":"5671b5b2.8724dc","type":"mysql","z":"9c0f0d4b.834c5","mydb":"af2c2e72.8c39e","name":"laumec_db","x":929.2856979370117,"y":257.7142696380615,"wires":[["9f3fb815.0c2ea8","9ce43e83.de784"]]},{"id":"9f3fb815.0c2ea8","type":"function","z":"9c0f0d4b.834c5","name":"","func":"p=msg.payload\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Temp\",\n            \"Temp Ada\"\n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1110.2856979370117,"y":181.71426963806152,"wires":[["9815e728.926b08"]]},{"id":"1f0331a2.b9728e","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":365.7856979370117,"y":230.71426963806152,"wires":[["6e45cfa1.9fb78"]]},{"id":"96c2a589.816088","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":355.2856979370117,"y":315.7142696380615,"wires":[["6e45cfa1.9fb78"]]},{"id":"8092f1d3.fe41b","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":"1","adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":179.28569793701172,"y":118.71426963806152,"wires":[["719a9b44.f298d4","9da36a7e.6fb5f8"]]},{"id":"9815e728.926b08","type":"function","z":"9c0f0d4b.834c5","name":"","func":"d = msg.payload;\nvar i;\nvar x;\nvar k = [];\nvar z = [];\n\np = d[0].data;\n\nfor (i = 0; i < p.length; i++) {\n\n    w = p[i];\n\n    for (x = 0; x < w.length; x++) {\n        z[x] = {x: Date.parse(w[i].Data),y: Number(w[i].temp1)};\n    }\n}\nmsg.payload = z;\nreturn msg;","outputs":1,"noerr":0,"x":1239.7856979370117,"y":182.71426963806152,"wires":[["f90e55ba.f31358"]]},{"id":"f90e55ba.f31358","type":"function","z":"9c0f0d4b.834c5","name":"","func":"p=msg.payload\nmsg.topic='';\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Temp Ada\"\n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1370.2856979370117,"y":182.71426963806152,"wires":[[]]},{"id":"9ce43e83.de784","type":"function","z":"9c0f0d4b.834c5","name":"to (x,y)","func":"d = msg.payload;\nvar i;\nvar x;\nvar k = [];\nvar z = [];\n\nfor (i = 0; i < d.length; i++) {\n\n    w = d[i];\n\n            z[i] = {x: Date.parse(w.Data),y: Number(w.temp1)};\n            k[i]={x: Date.parse(w.Data),y: Number(w.temp2)};\n    }\nmsg.payload = [z,k];\nreturn msg;","outputs":1,"noerr":0,"x":1157.2856979370117,"y":257.7142696380615,"wires":[["505137ee.874948"]]},{"id":"505137ee.874948","type":"function","z":"9c0f0d4b.834c5","name":"to graph","func":"p=msg.payload\nmsg.topic='';\nvar q=[]\nq=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Temp\",\n            \"Temp Ada\"\n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1298.2856979370117,"y":257.7142696380615,"wires":[["add4ddbd.351ed","8a697e36.18551"]]},{"id":"8a697e36.18551","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1644.2856979370117,"y":101.71426963806152,"wires":[]},{"id":"e15c2811.a658d8","type":"function","z":"9c0f0d4b.834c5","name":"GET","func":"\n//msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\nI=msg.payload[0]\nO=msg.payload[1]\n\n\nmsg.topic= ('SELECT * FROM humid_table WHERE Data BETWEEN \"' + I + '\" AND \"' + O + '\"') ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":755.2856979370117,"y":318.7142696380615,"wires":[["5b1a2b7c.8322c4"]]},{"id":"5b1a2b7c.8322c4","type":"mysql","z":"9c0f0d4b.834c5","mydb":"af2c2e72.8c39e","name":"laumec_db","x":930.2856979370117,"y":332.7142696380615,"wires":[["f58088e4.849f38"]]},{"id":"df83b8ce.d4af18","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1619.78564453125,"y":498.7142639160156,"wires":[]},{"id":"f58088e4.849f38","type":"function","z":"9c0f0d4b.834c5","name":"to (x,y)","func":"d = msg.payload;\nvar i;\nvar x;\nvar k = [];\nvar z = [];\n\nfor (i = 0; i < d.length; i++) {\n\n    w = d[i];\n\n            z[i] = {x: Date.parse(w.Data),y: Number(w.humid)};\n               }\nmsg.payload = z;\nreturn msg;","outputs":1,"noerr":0,"x":1148.2856979370117,"y":332.7142696380615,"wires":[["a53b6c1a.b99b7"]]},{"id":"a53b6c1a.b99b7","type":"function","z":"9c0f0d4b.834c5","name":"to graph","func":"p=msg.payload\nmsg.topic='';\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Humidade\"\n            \n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1289.2856979370117,"y":332.7142696380615,"wires":[["e74e1161.15e9f","1e5c215f.e1a95f"]]},{"id":"1e5c215f.e1a95f","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1618.2856979370117,"y":403.7142696380615,"wires":[]},{"id":"d1ff69d7.98fa28","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":712,"wires":[["b93fd363.71475"]]},{"id":"7cfc2af0.aca8f4","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":629.2856979370117,"y":228.71426963806152,"wires":[]},{"id":"44e23e04.2caed","type":"ui_text_input","z":"9c0f0d4b.834c5","name":"HORAIN","label":"","tooltip":"","group":"efcd8f77.7bd43","order":3,"width":"3","height":"1","passthru":false,"mode":"time","delay":300,"topic":"","x":548.78564453125,"y":686.7142639160156,"wires":[["7d1b02f4.12cb5c"]]},{"id":"2bc26dfa.f7a922","type":"ui_text_input","z":"9c0f0d4b.834c5","name":"HORA OUT","label":"","tooltip":"","group":"efcd8f77.7bd43","order":7,"width":"3","height":"1","passthru":true,"mode":"time","delay":300,"topic":"","x":558.28564453125,"y":729.7142639160156,"wires":[["7d1b02f4.12cb5c"]]},{"id":"e12f66f6.601a58","type":"inject","z":"9c0f0d4b.834c5","name":"","topic":"","payload":"00","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":381.28564453125,"y":711.7142639160156,"wires":[["44e23e04.2caed","2bc26dfa.f7a922"]]},{"id":"7d1b02f4.12cb5c","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":785.78564453125,"y":698.7142639160156,"wires":[["b8f3dea7.609d4"]]},{"id":"b8f3dea7.609d4","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":992.28564453125,"y":706.7142639160156,"wires":[]},{"id":"b97865f0.61cc08","type":"ui_button","z":"9c0f0d4b.834c5","name":"","group":"efcd8f77.7bd43","order":10,"width":0,"height":0,"passthru":false,"label":"LIMPAR GRÁFICOS","tooltip":"","color":"","bgcolor":"","icon":"clear","payload":"[]","payloadType":"json","topic":"","x":1294.2856979370117,"y":562.7142696380615,"wires":[["e74e1161.15e9f","add4ddbd.351ed","4e298bd.f0aa774"]]},{"id":"4a40d6fc.7aecd8","type":"function","z":"5ed8f0b3.34a62","name":"DB","func":"var msg4={};\nvar db;\nvar date= msg.payload[0] ;//new Date();\n\n\nq = msg.payload[1];\ndb = q.db;\n\nmsg4.topic=('INSERT INTO db_table (Data, db) VALUES (\"'+ date.toString() + '\",' + db + ')');\n\n\nreturn msg4;\n","outputs":1,"noerr":0,"x":1597,"y":460,"wires":[["14785bed.7e40f4","e173357e.ffad38"]]},{"id":"7865516b.3421d","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1161,"y":457,"wires":[["6c8c769.7333f88"]]},{"id":"e173357e.ffad38","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1796,"y":467,"wires":[[]]},{"id":"14785bed.7e40f4","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1801.5,"y":540,"wires":[]},{"id":"d99ec83c.439038","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1389.5,"y":359,"wires":[["d8665e57.c557e"]]},{"id":"68b65121.a6467","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1383,"y":411,"wires":[["d3cd913.28fab7"]]},{"id":"6c8c769.7333f88","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1390,"y":459,"wires":[["4a40d6fc.7aecd8"]]},{"id":"306ba33e.4f93fc","type":"function","z":"9c0f0d4b.834c5","name":"GET","func":"\n//msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\nI=msg.payload[0]\nO=msg.payload[1]\n\n\nmsg.topic= ('SELECT * FROM db_table WHERE Data BETWEEN \"' + I + '\" AND \"' + O + '\"') ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":755,"y":386,"wires":[["af3120b1.6bffa"]]},{"id":"56b30e1d.554b6","type":"function","z":"9c0f0d4b.834c5","name":"to (x,y)","func":"d = msg.payload;\nvar i;\nvar x;\nvar k = [];\nvar z = [];\n\nfor (i = 0; i < d.length; i++) {\n\n    w = d[i];\n\n            z[i] = {x: Date.parse(w.Data),y: Number(w.db)};\n               }\nmsg.payload = z;\nreturn msg;","outputs":1,"noerr":0,"x":1149,"y":396,"wires":[["a10fcd40.5dc78"]]},{"id":"a10fcd40.5dc78","type":"function","z":"9c0f0d4b.834c5","name":"to graph","func":"p=msg.payload\nmsg.topic='';\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Humidade\"\n            \n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":396,"wires":[["4e298bd.f0aa774","df83b8ce.d4af18"]]},{"id":"af3120b1.6bffa","type":"mysql","z":"9c0f0d4b.834c5","mydb":"af2c2e72.8c39e","name":"laumec_db","x":958,"y":397,"wires":[["56b30e1d.554b6"]]},{"id":"4e298bd.f0aa774","type":"ui_chart","z":"9c0f0d4b.834c5","name":"","group":"d23e338.fdc98d","order":2,"width":"26","height":"6","label":"Sound Levels","chartType":"line","legend":"false","xformat":"DD/MM HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"650","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1610,"y":356,"wires":[[]]},{"id":"bf92eb51.81adc8","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":6,"width":"20","height":"6","label":"Sound Levels","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting for valid data","dot":false,"ymin":"0","ymax":"650","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1411,"y":745,"wires":[[]]},{"id":"58c90b91.12f704","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":944,"y":762,"wires":[["bf92eb51.81adc8"]]}]