FLOWS NODERED/flows_2019_08_27.json
[{"id":"5ed8f0b3.34a62","type":"tab","label":"MAIN","disabled":false,"info":""},{"id":"757325a4.d3897c","type":"mqtt in","z":"5ed8f0b3.34a62","name":"","topic":"v1/devices/me/telemetry","qos":"2","datatype":"auto","broker":"9936d9a0.efcbe8","x":166,"y":257,"wires":[["efc8e92d.1cfc78"]]},{"id":"bafae9bf.b4cf08","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":611,"y":238,"wires":[]},{"id":"efc8e92d.1cfc78","type":"json","z":"5ed8f0b3.34a62","name":"","property":"payload","action":"obj","pretty":false,"x":434,"y":257,"wires":[["bafae9bf.b4cf08","ea7863a4.83c51"]]},{"id":"ea7863a4.83c51","type":"function","z":"5ed8f0b3.34a62","name":"RAW DATA","func":"var msg1={};\nvar msg2={};\np = msg.payload;\nnode.log(typeof p);\nmsg.payload=p.data.db;\nmsg1.payload = p.esp;\nmsg2.payload = p.data;\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":627.5,"y":403,"wires":[["556140ed.83e0a","37fa4e17.46c7f2"],["96ef2841.6bcc18","7d14c045.5f69e"],["da2a009b.fc787","31cdbe28.18bfb2","f3acaadd.abc498","d2049f17.d32e8"]]},{"id":"556140ed.83e0a","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":874,"y":227,"wires":[]},{"id":"96ef2841.6bcc18","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":879,"y":271,"wires":[]},{"id":"da2a009b.fc787","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":882,"y":309,"wires":[]},{"id":"37fa4e17.46c7f2","type":"ui_gauge","z":"5ed8f0b3.34a62","name":"","group":"65567ae.74e2784","order":4,"width":0,"height":0,"gtype":"gage","title":"SOUND","label":"dB","format":"{{value}} dB","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":864.5,"y":498,"wires":[]},{"id":"7d14c045.5f69e","type":"ui_text","z":"5ed8f0b3.34a62","group":"65567ae.74e2784","order":1,"width":0,"height":0,"name":"ESP Name","label":"esp name","format":"{{msg.payload}}","layout":"row-spread","x":871.5,"y":456,"wires":[],"inputLabels":["1 :"]},{"id":"1dfcbc6.0269a44","type":"ui_slider","z":"5ed8f0b3.34a62","name":"","label":"","tooltip":"","group":"65567ae.74e2784","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":257.5,"y":670,"wires":[["baf0e8d9.8ead08"]]},{"id":"baf0e8d9.8ead08","type":"ui_numeric","z":"5ed8f0b3.34a62","name":"","label":"LIMIT","tooltip":"","group":"65567ae.74e2784","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":455.5,"y":671,"wires":[["1dfcbc6.0269a44"]]},{"id":"31cdbe28.18bfb2","type":"function","z":"5ed8f0b3.34a62","name":"DATA","func":"var temp1={};\nvar temp2={};\nvar humid={};\nvar press={};\nvar db={};\n\np = msg.payload;\nnode.log(typeof p);\ntemp1.payload=p.temperature[0];\ntemp2.payload=p.temperature[1];\nhumid.payload = p.humidity;\npress.payload = p.pressure;\ndb.payload = p.db;\nreturn [temp1,temp2,humid,press,db];\n","outputs":5,"noerr":0,"x":760.5,"y":609,"wires":[["767fddcf.ccf3d4","3e312d0d.ab4ab2"],["6d811b11.bbdec4"],["981bf775.48d878"],[],[]]},{"id":"b57e919f.4694c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":5,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1385.5,"y":579,"wires":[[]]},{"id":"eab76c93.5ee8c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"ade1a905.8b59c8","order":5,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1201,"y":663,"wires":[[]]},{"id":"27aa9eea.3a0e82","type":"ui_dropdown","z":"5ed8f0b3.34a62","name":"","label":"ESP Data","tooltip":"","place":"Escolher Ilha","group":"65567ae.74e2784","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"Esp1","value":"1","type":"str"}],"payload":"","topic":"","x":438.5,"y":984,"wires":[[]]},{"id":"6e58cbd8.788644","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1790.5,"y":412,"wires":[[]]},{"id":"d3cd913.28fab7","type":"function","z":"5ed8f0b3.34a62","name":"Temperaturas","func":"var msg2={};\nvar date= msg.payload[0] ;\n\n//time=msg.now; \np = msg.payload[1];\ntemp1=p.temperature[0];\ntemp2=p.temperature[1];\n\nmsg2.topic=(\"INSERT INTO temp_table (Data,temp1,temp2) VALUES ('\"+ date.toString() + \"',\" + temp1 + \",\" + temp2.toFixed(2)+ \")\");\nreturn msg2;\n","outputs":1,"noerr":0,"x":1379.5,"y":412,"wires":[["6e58cbd8.788644"]]},{"id":"d8665e57.c557e","type":"function","z":"5ed8f0b3.34a62","name":"Humidade","func":"var msg3={};\nvar humid;\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\n//time=msg.now; \nq = msg.payload[1];\nhumid = q.humidity;\n\nmsg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ('\"+ date.toString() + \"',\" + humid + \")\");\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\n\nreturn msg3;\n","outputs":1,"noerr":0,"x":1371,"y":361,"wires":[["a1284539.6ece18","a625428f.a2f8"]]},{"id":"da340faf.a8ff5","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1591.5,"y":440,"wires":[[]]},{"id":"59f98731.e4ae68","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1595,"y":339,"wires":[[]]},{"id":"75bb0300.373b2c","type":"moment","z":"5ed8f0b3.34a62","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":909.5,"y":153,"wires":[["f3acaadd.abc498","d2049f17.d32e8","98f4488.9462bb8"]]},{"id":"fdabce45.a3d7c","type":"inject","z":"5ed8f0b3.34a62","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":696.5,"y":152,"wires":[["75bb0300.373b2c"]]},{"id":"eaf13266.f81fc","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1589,"y":196,"wires":[]},{"id":"f3acaadd.abc498","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1161.5,"y":358,"wires":[["d8665e57.c557e","486773e1.97a0ac"]]},{"id":"a1284539.6ece18","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1592,"y":280,"wires":[]},{"id":"486773e1.97a0ac","type":"function","z":"5ed8f0b3.34a62","name":"Data e Hora","func":"var msg3={};\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\nmsg3.topic=(\"INSERT INTO humid_table (Data,humid) VALUES ('\"+ date.toString() +\"',1)\");\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\nmsg3.payload = date;\nreturn msg3;\n","outputs":1,"noerr":0,"x":1407,"y":196,"wires":[["eaf13266.f81fc"]]},{"id":"d2049f17.d32e8","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1158,"y":412,"wires":[["d3cd913.28fab7"]]},{"id":"767fddcf.ccf3d4","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":988.5,"y":581,"wires":[["fd3180f1.2e1b5"]]},{"id":"6d811b11.bbdec4","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":992,"y":623,"wires":[["797d2388.e9345c"]]},{"id":"981bf775.48d878","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":997,"y":663,"wires":[["eab76c93.5ee8c"]]},{"id":"a625428f.a2f8","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1793,"y":360,"wires":[[]]},{"id":"124b5264.cd51ee","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1030,"y":810,"wires":[["ad6fb2cc.b4964","d6ae8a24.c695e8"]]},{"id":"8910d864.ea3b98","type":"function","z":"5ed8f0b3.34a62","name":"GET","func":"msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\n\nreturn msg;","outputs":1,"noerr":0,"x":732.5,"y":803,"wires":[["124b5264.cd51ee","73651a14.320144"]]},{"id":"ad6fb2cc.b4964","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1213,"y":808,"wires":[]},{"id":"73651a14.320144","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":944,"y":759,"wires":[]},{"id":"e6da483f.b43c48","type":"inject","z":"5ed8f0b3.34a62","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":544.5,"y":801,"wires":[["8910d864.ea3b98"]]},{"id":"e40f2432.b57218","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"214e559b.f7849a","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1426.5,"y":910,"wires":[[]]},{"id":"1c097b58.2511a5","type":"inject","z":"5ed8f0b3.34a62","name":"Limpar Graficos","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":984.5,"y":539,"wires":[["b57e919f.4694c","eab76c93.5ee8c","328b0c0f.51e9d4"]]},{"id":"3e312d0d.ab4ab2","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250.5,"y":507,"wires":[]},{"id":"d6ae8a24.c695e8","type":"change","z":"5ed8f0b3.34a62","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Data","fromt":"str","to":"x","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"temp1","fromt":"str","to":"y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1189.5,"y":886,"wires":[["e40f2432.b57218","1718cc7b.881294"]]},{"id":"1718cc7b.881294","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1446,"y":835,"wires":[]},{"id":"98f4488.9462bb8","type":"ui_text","z":"5ed8f0b3.34a62","group":"65567ae.74e2784","order":2,"width":"6","height":"2","name":"","label":"","format":"<font size = 5 color = white> {{msg.payload}}","layout":"col-center","x":1117.5,"y":129,"wires":[]},{"id":"fd3180f1.2e1b5","type":"change","z":"5ed8f0b3.34a62","name":"Temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1169.5,"y":579,"wires":[["b57e919f.4694c"]]},{"id":"797d2388.e9345c","type":"change","z":"5ed8f0b3.34a62","name":"temp2","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temp Ada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1168,"y":624,"wires":[["b57e919f.4694c","328b0c0f.51e9d4"]]},{"id":"328b0c0f.51e9d4","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":5,"width":0,"height":0,"label":"Temperature Ada","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1379,"y":625,"wires":[[]]},{"id":"9936d9a0.efcbe8","type":"mqtt-broker","z":"","name":"","broker":"192.168.201.33","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65567ae.74e2784","type":"ui_group","z":"","name":"ESP","tab":"170a236a.bc605d","order":1,"disp":false,"width":"6","collapse":false},{"id":"9f27a7a5.d50918","type":"ui_group","z":"","name":"Temperaturas","tab":"170a236a.bc605d","order":2,"disp":true,"width":"12","collapse":false},{"id":"ade1a905.8b59c8","type":"ui_group","z":"","name":"Humidade","tab":"170a236a.bc605d","order":3,"disp":true,"width":"12","collapse":false},{"id":"af2c2e72.8c39e","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"laumecdb","tz":""},{"id":"214e559b.f7849a","type":"ui_group","name":"Group 1","tab":"16204fb4.68152","order":1,"disp":true,"width":6},{"id":"170a236a.bc605d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"16204fb4.68152","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3}]