FLOWS NODERED/flows_2019_11_08.json
[{"id":"a1016311.23b25","type":"tab","label":"PROJECT SELECTION","disabled":false,"info":""},{"id":"5ed8f0b3.34a62","type":"tab","label":"MEDIDOR SOM OPEN SPACE","disabled":false,"info":""},{"id":"9c0f0d4b.834c5","type":"tab","label":"DATA HISTORY","disabled":false,"info":""},{"id":"b4bf5dab.6c6e2","type":"subflow","name":"PASSWORD VALIDATION","info":"","category":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":1220,"y":80,"wires":[]}],"env":[]},{"id":"9936d9a0.efcbe8","type":"mqtt-broker","z":"","name":"","broker":"192.168.201.33","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd9ce8a2.4ff108","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#981e32","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#981e32","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#981e32","value":"#981e32","edited":true},"page-titlebar-backgroundColor":{"value":"#981e32","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#981e32","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sistema Monitorização","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"170a236a.bc605d","type":"ui_tab","z":"","name":"MEDIDOR SOM OPEN SPACE","icon":"mic","order":3,"disabled":false,"hidden":false},{"id":"4b929872.294b38","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"65567ae.74e2784","type":"ui_group","z":"","name":"ESP","tab":"170a236a.bc605d","order":7,"disp":false,"width":"5","collapse":false},{"id":"abfd547d.b421d8","type":"ui_tab","z":"","name":"DATA HISTORY","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"91329079.a4b81","type":"ui_spacer","name":"spacer","group":"37aec83c.ded988","order":2,"width":1,"height":1},{"id":"9f27a7a5.d50918","type":"ui_group","z":"","name":"Dados","tab":"170a236a.bc605d","order":6,"disp":false,"width":"20","collapse":false},{"id":"16204fb4.68152","type":"ui_tab","z":"","name":"PROJECT SELECTION","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"efcd8f77.7bd43","type":"ui_group","z":"","name":"SETTINGS","tab":"abfd547d.b421d8","order":1,"disp":true,"width":"9","collapse":false},{"id":"30fc5f6.c1e42a","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":8,"width":"6","height":1},{"id":"214e559b.f7849a","type":"ui_group","z":"","name":"PROJETOS","tab":"","order":4,"disp":true,"width":"27","collapse":false},{"id":"af2c2e72.8c39e","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"laumecdb","tz":""},{"id":"524c7f3f.f49d8","type":"ui_group","z":"","name":"Thermostat demo","tab":"","order":2,"disp":true,"width":"6"},{"id":"c8153179.719c9","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"d23e338.fdc98d","type":"ui_group","z":"","name":"GRAPH","tab":"abfd547d.b421d8","order":2,"disp":true,"width":"26","collapse":true},{"id":"474d4ea9.5dd5e","type":"ui_spacer","name":"spacer","group":"c102622f.2cc1a","order":1,"width":"20","height":1},{"id":"97680f6d.56852","type":"ui_spacer","name":"spacer","group":"c102622f.2cc1a","order":4,"width":"20","height":1},{"id":"b5cdbbf4.0b0a68","type":"MySQLdatabase","z":"","host":"10.21.11.15","port":"3306","db":"i4inari","tz":""},{"id":"4b89447e.e7be5c","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":1,"width":1,"height":1},{"id":"4b9b0090.876fa","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":4,"width":1,"height":1},{"id":"fd8eabce.617178","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":5,"width":1,"height":1},{"id":"db25e693.02cb68","type":"ui_group","z":"","name":"PROJECT SELECTION","tab":"16204fb4.68152","order":1,"disp":false,"width":"27","collapse":false},{"id":"711eace1.37dad4","type":"ui_group","z":"","name":"SPACER","tab":"","order":1,"disp":false,"width":"7","collapse":false},{"id":"b753b6c6.443c38","type":"ui_spacer","name":"spacer","group":"8effb691.35b9e8","order":3,"width":"3","height":1},{"id":"f114385d.9d6b28","type":"ui_spacer","name":"spacer","group":"711eace1.37dad4","order":1,"width":"7","height":1},{"id":"c49a90ab.ec51e","type":"ui_spacer","name":"spacer","group":"711eace1.37dad4","order":3,"width":"7","height":1},{"id":"b2708127.601fb","type":"ui_spacer","name":"spacer","group":"214e559b.f7849a","order":1,"width":1,"height":"6"},{"id":"1473b532.d0e7ab","type":"ui_group","z":"","name":"ACEDER AO PROJETO : ","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b94f77eb.eed798","type":"users_config","appPath":"/users","jwtCookieName":"nr.nodeUsers.jwt","jwtHttpsOnly":false},{"id":"f3556896.deeae8","type":"ui_group","z":"","name":"Default","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"1af53c1e.c6b0d4","type":"ui_group","name":"Group 2","tab":"","order":3,"disp":true,"width":6},{"id":"89fd3cfc.783b4","type":"ui_spacer","name":"spacer","group":"c102622f.2cc1a","order":6,"width":"20","height":1},{"id":"c102622f.2cc1a","type":"ui_group","z":"","name":"SOUND REAL TIME","tab":"170a236a.bc605d","order":4,"disp":false,"width":"20","collapse":false},{"id":"37aec83c.ded988","type":"ui_group","z":"","name":"REAL TIME","tab":"170a236a.bc605d","order":3,"disp":false,"width":"20","collapse":false},{"id":"f9e2fe80.76841","type":"ui_group","z":"","name":"Teste","tab":"","disp":false,"width":"6"},{"id":"e7b1bd1f.cb489","type":"ui_group","z":"","name":"Teste","tab":"","disp":false,"width":"6"},{"id":"da351d90.a7482","type":"ui_group","z":"","name":"LIMITE","tab":"170a236a.bc605d","order":5,"disp":false,"width":"5","collapse":false},{"id":"a599295c.1efa38","type":"ui_spacer","name":"spacer","group":"7e8076c5.7876b8","order":6,"width":1,"height":1},{"id":"e6b30808.552638","type":"ui_group","z":"","name":"INEGI logo","tab":"170a236a.bc605d","order":1,"disp":false,"width":"4","collapse":false},{"id":"64722acc.5286b4","type":"ui_group","z":"","name":"DATAHORA","tab":"170a236a.bc605d","order":2,"disp":false,"width":"16","collapse":false},{"id":"757325a4.d3897c","type":"mqtt in","z":"5ed8f0b3.34a62","name":"","topic":"v1/devices/me/telemetry","qos":"2","datatype":"auto","broker":"9936d9a0.efcbe8","x":345,"y":366,"wires":[["efc8e92d.1cfc78"]]},{"id":"efc8e92d.1cfc78","type":"json","z":"5ed8f0b3.34a62","name":"","property":"payload","action":"obj","pretty":false,"x":613,"y":366,"wires":[["ea7863a4.83c51","9646e599.030dd8","50de0897.626e48"]]},{"id":"ea7863a4.83c51","type":"function","z":"5ed8f0b3.34a62","name":"RAW DATA","func":"var msg1={};\nvar msg2={};\np = msg.payload;\nnode.log(typeof p);\nmsg.payload=p.data.db;\nmsg1.payload = p.esp;\nmsg2.payload = p.data;\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":823.5,"y":364,"wires":[["96acbf73.f12f1"],["7d14c045.5f69e"],["31cdbe28.18bfb2","f3acaadd.abc498","d2049f17.d32e8","7865516b.3421d"]]},{"id":"7d14c045.5f69e","type":"ui_text","z":"5ed8f0b3.34a62","group":"37aec83c.ded988","order":1,"width":"20","height":"1","name":"ESP Name","label":"<font size = 2 color = #8B2638>DISPOSITIVO","format":"<font size = 2 color = #8C8E8F>{{msg.payload}}","layout":"row-spread","x":1064.5,"y":321,"wires":[],"inputLabels":["1 :"]},{"id":"31cdbe28.18bfb2","type":"function","z":"5ed8f0b3.34a62","name":"DATA","func":"var temp1={};\nvar temp2={};\nvar humid={};\nvar press={};\nvar db={};\n\np = msg.payload;\nnode.log(typeof p);\ntemp1.payload=p.temperature[0];\ntemp2.payload=p.temperature[1];\nhumid.payload = p.humidity;\npress.payload = p.pressure;\ndb.payload = p.db;\nreturn [temp1,temp2,humid,press,db];\n","outputs":5,"noerr":0,"x":956.5,"y":570,"wires":[["767fddcf.ccf3d4","ca7ab82c.b1ef48"],["6d811b11.bbdec4"],["981bf775.48d878","41198ac8.9b4844"],["3a49b656.d626fa"],["58c90b91.12f704","b4aa8219.c1fa3","72af3458.54cdfc","ec61bcf5.a0bc6","7d1a028b.8d0bac","ceb154e6.339a68"]]},{"id":"b57e919f.4694c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":2,"width":"20","height":"6","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#981e32","#6f7271","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1601.5,"y":598,"wires":[[]]},{"id":"eab76c93.5ee8c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":3,"width":"20","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#981e32","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1591,"y":634,"wires":[[]]},{"id":"6e58cbd8.788644","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1986.5,"y":373,"wires":[[]]},{"id":"d3cd913.28fab7","type":"function","z":"5ed8f0b3.34a62","name":"Temperaturas","func":"var msg2={};\nvar date= msg.payload[0] ;\n\n//time=msg.now; \np = msg.payload[1];\ntemp1=p.temperature[0];\ntemp2=p.temperature[1];\n\nmsg2.topic=('INSERT INTO temp_table (Data,temp1,temp2) VALUES (\"'+ date.toString() + '\",' + temp1 + ',' + temp2.toFixed(2)+ ')');\nreturn msg2;\n","outputs":1,"noerr":0,"x":1774.5,"y":373,"wires":[["6e58cbd8.788644"]]},{"id":"d8665e57.c557e","type":"function","z":"5ed8f0b3.34a62","name":"Humidade","func":"var msg3={};\nvar humid;\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\n//time=msg.now; \nq = msg.payload[1];\nhumid = q.humidity;\n\nmsg3.topic=('INSERT INTO humid_table (Data, humid) VALUES (\"'+ date.toString() + '\",' + humid + ')');\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\n\nreturn msg3;\n","outputs":1,"noerr":0,"x":1781,"y":321,"wires":[["a625428f.a2f8"]]},{"id":"75bb0300.373b2c","type":"moment","z":"5ed8f0b3.34a62","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":1120,"y":100,"wires":[["f3acaadd.abc498","d2049f17.d32e8","7865516b.3421d"]]},{"id":"fdabce45.a3d7c","type":"inject","z":"5ed8f0b3.34a62","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":868.5,"y":116,"wires":[["75bb0300.373b2c","1b983aae.f689c5","81008f97.df51f"]]},{"id":"f3acaadd.abc498","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1357.5,"y":319,"wires":[["486773e1.97a0ac","d99ec83c.439038"]]},{"id":"486773e1.97a0ac","type":"function","z":"5ed8f0b3.34a62","name":"Data e Hora","func":"var msg3={};\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\nmsg3.topic=(\"INSERT INTO humid_table (Data,humid) VALUES ('\"+ date.toString() +\"',1)\");\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\nmsg3.payload = date;\nreturn msg3;\n","outputs":1,"noerr":0,"x":1590,"y":180,"wires":[[]]},{"id":"d2049f17.d32e8","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1354,"y":373,"wires":[["68b65121.a6467"]]},{"id":"767fddcf.ccf3d4","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1141.5,"y":551,"wires":[["9bd6324.877b6d"]]},{"id":"6d811b11.bbdec4","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1140,"y":592,"wires":[["5441c8a9.a554d8"]]},{"id":"981bf775.48d878","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1145,"y":632,"wires":[["f997ea24.3bd878"]]},{"id":"a625428f.a2f8","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1989,"y":321,"wires":[[]]},{"id":"1c097b58.2511a5","type":"inject","z":"5ed8f0b3.34a62","name":"Limpar Graficos","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1155.5,"y":476,"wires":[["b57e919f.4694c","eab76c93.5ee8c"]]},{"id":"98f4488.9462bb8","type":"ui_text","z":"5ed8f0b3.34a62","group":"64722acc.5286b4","order":2,"width":"7","height":"1","name":"HORA","label":"<font size = 3 color = #8B2638><i class=\"fa fa-clock-o fa-sm\" aria-hidden=\"true\"></i>","format":"<font size=3>{{msg.payload}}","layout":"row-center","x":1390,"y":20,"wires":[]},{"id":"fd3180f1.2e1b5","type":"change","z":"5ed8f0b3.34a62","name":"Temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1397.5,"y":548,"wires":[["b57e919f.4694c"]]},{"id":"797d2388.e9345c","type":"change","z":"5ed8f0b3.34a62","name":"temp2","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temp Ada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1397,"y":590,"wires":[["b57e919f.4694c"]]},{"id":"9da36a7e.6fb5f8","type":"ui_date_picker","z":"9c0f0d4b.834c5","name":"","label":"IN","group":"efcd8f77.7bd43","order":2,"width":"4","height":"1","passthru":true,"topic":"","x":185.78569793701172,"y":227.71426963806152,"wires":[["1f0331a2.b9728e"]]},{"id":"719a9b44.f298d4","type":"ui_date_picker","z":"9c0f0d4b.834c5","name":"","label":"OUT","group":"efcd8f77.7bd43","order":6,"width":"4","height":"1","passthru":true,"topic":"","x":188.78569793701172,"y":314.7142696380615,"wires":[["96c2a589.816088"]]},{"id":"e74e1161.15e9f","type":"ui_chart","z":"9c0f0d4b.834c5","name":"","group":"d23e338.fdc98d","order":2,"width":"26","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"DD/MM HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#981e32","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1584.28564453125,"y":314.7142639160156,"wires":[[]]},{"id":"add4ddbd.351ed","type":"ui_chart","z":"9c0f0d4b.834c5","name":"","group":"d23e338.fdc98d","order":1,"width":"26","height":"6","label":"Temperature","chartType":"line","legend":"true","xformat":"DD/MM HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"0","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#981e32","#6f7271","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1585.7856979370117,"y":259.7142696380615,"wires":[[]]},{"id":"94031fc3.a5737","type":"function","z":"9c0f0d4b.834c5","name":"GET","func":"\n//msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\nI=msg.payload[0]\nO=msg.payload[1]\n\n//msg.topic=('SELECT Data,temp1 from temp_table WHERE Data >=\"'+ I + '\" LIMIT 20');\n\n//msg.topic=('SELECT * from temp_table WHERE Data >=\"'+ I + '\"');\n\nmsg.topic= ('SELECT * FROM temp_table WHERE Data BETWEEN \"' + I + '\" AND \"' + O + '\"') ;\n\n//msg.topic=('SELECT * from temp_table WHERE Data BETWEEN \"'+ I + '\" AND \"' + O + '\"');\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["5671b5b2.8724dc"]]},{"id":"8a8380b3.ba657","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":545.2856979370117,"y":415.7142696380615,"wires":[]},{"id":"4385796c.e56bb8","type":"ui_button","z":"9c0f0d4b.834c5","name":"","group":"efcd8f77.7bd43","order":9,"width":"0","height":"0","passthru":false,"label":"MOSTRAR","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"true","payloadType":"bool","topic":"","x":90,"y":420,"wires":[["bb3c1cd8.c77d6"]]},{"id":"bb3c1cd8.c77d6","type":"change","z":"9c0f0d4b.834c5","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":287.5,"y":420,"wires":[["8a8380b3.ba657","64a5f108.f7f92","d9dc6955.a31a68"]]},{"id":"cfd9eb9f.bcff48","type":"inject","z":"9c0f0d4b.834c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":141.28569793701172,"y":59.71426963806152,"wires":[["8092f1d3.fe41b","68ddc244.ef818c"]]},{"id":"3d00dcf1.8ca6b4","type":"ui_slider","z":"5ed8f0b3.34a62","name":"","label":"","tooltip":"","group":"c102622f.2cc1a","order":5,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":868,"y":1017,"wires":[["971b943b.937b08"]]},{"id":"971b943b.937b08","type":"ui_numeric","z":"5ed8f0b3.34a62","name":"","label":"LIMITE","tooltip":"","group":"c102622f.2cc1a","order":4,"width":"5","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":1017,"y":1018,"wires":[["3d00dcf1.8ca6b4","4041d016.92676"]]},{"id":"9743e08e.46dcc","type":"inject","z":"9c0f0d4b.834c5","name":"Limpar Graficos","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":460,"wires":[["e74e1161.15e9f","add4ddbd.351ed","4e298bd.f0aa774"]]},{"id":"ca7ab82c.b1ef48","type":"ui_text","z":"5ed8f0b3.34a62","group":"37aec83c.ded988","order":2,"width":"6","height":"2","name":"Temperatura","label":"<font size = 5 color = #8B2638><i class=\"fa fa-thermometer-three-quarters fa-2x\" aria-hidden=\"true\"></i>","format":"<font size=5> {{msg.payload}} ºC","layout":"col-center","x":1586.5,"y":490,"wires":[]},{"id":"9bd6324.877b6d","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":1278.5,"y":551,"wires":[["fd3180f1.2e1b5"]]},{"id":"41198ac8.9b4844","type":"ui_text","z":"5ed8f0b3.34a62","group":"37aec83c.ded988","order":3,"width":"6","height":"2","name":"Humidade","label":"<font size = 5 color = #8B2638><i class=\"fa fa-tint fa-2x\" aria-hidden=\"true\"></i>","format":"<font size = 5 color = white> {{msg.payload}} %","layout":"col-center","x":1585,"y":523,"wires":[]},{"id":"5441c8a9.a554d8","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":1273,"y":591,"wires":[["797d2388.e9345c"]]},{"id":"f997ea24.3bd878","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":1277,"y":635,"wires":[["eab76c93.5ee8c"]]},{"id":"3a49b656.d626fa","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1136,"y":671,"wires":[["d1ff69d7.98fa28"]]},{"id":"b93fd363.71475","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":4,"width":"20","height":"6","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"95","ymax":"105","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#981e32","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1591,"y":670,"wires":[[]]},{"id":"861ff895.d88768","type":"ui_ui_control","z":"5ed8f0b3.34a62","name":"HISTORICO UI","x":645,"y":822,"wires":[[]]},{"id":"b3979c8d.937a7","type":"ui_button","z":"5ed8f0b3.34a62","name":"","group":"65567ae.74e2784","order":2,"width":"5","height":"1","passthru":false,"label":"HISTÓRICO DE DADOS","tooltip":"","color":"","bgcolor":"","icon":"history","payload":"2","payloadType":"str","topic":"","x":410,"y":822,"wires":[["861ff895.d88768"]]},{"id":"1d0dab96.e2c214","type":"ui_ui_control","z":"9c0f0d4b.834c5","name":"","x":303.2856979370117,"y":479.7142696380615,"wires":[[]]},{"id":"651cd9fb.0109c8","type":"ui_button","z":"9c0f0d4b.834c5","name":"","group":"efcd8f77.7bd43","order":12,"width":0,"height":0,"passthru":false,"label":"Tempo Real","tooltip":"","color":"","bgcolor":"","icon":"timeline","payload":"1","payloadType":"str","topic":"","x":124.28569793701172,"y":480.7142696380615,"wires":[["1d0dab96.e2c214"]]},{"id":"5671b5b2.8724dc","type":"mysql","z":"9c0f0d4b.834c5","mydb":"af2c2e72.8c39e","name":"laumec_db","x":950,"y":260,"wires":[["9f3fb815.0c2ea8","9ce43e83.de784"]]},{"id":"9f3fb815.0c2ea8","type":"function","z":"9c0f0d4b.834c5","name":"","func":"p=msg.payload\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Temp\",\n            \"Temp Ada\"\n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1110.2856979370117,"y":181.71426963806152,"wires":[["9815e728.926b08"]]},{"id":"1f0331a2.b9728e","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"hours","adjDir":"add","format":"YYYY-MM-DD","locale":"pt_PT","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":365.7856979370117,"y":230.71426963806152,"wires":[["7baf8a03.8e3f34"]]},{"id":"96c2a589.816088","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"hours","adjDir":"add","format":"YYYY-MM-DD","locale":"pt_PT","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":355.2856979370117,"y":315.7142696380615,"wires":[["413c2992.8ecf88"]]},{"id":"8092f1d3.fe41b","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":"1","adjType":"days","adjDir":"add","format":"","locale":"pt_PT","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":179.28569793701172,"y":118.71426963806152,"wires":[["719a9b44.f298d4","9da36a7e.6fb5f8"]]},{"id":"9815e728.926b08","type":"function","z":"9c0f0d4b.834c5","name":"","func":"d = msg.payload;\nvar i;\nvar x;\nvar k = [];\nvar z = [];\n\np = d[0].data;\n\nfor (i = 0; i < p.length; i++) {\n\n    w = p[i];\n\n    for (x = 0; x < w.length; x++) {\n        z[x] = {x: Date.parse(w[i].Data),y: Number(w[i].temp1)};\n    }\n}\nmsg.payload = z;\nreturn msg;","outputs":1,"noerr":0,"x":1239.7856979370117,"y":182.71426963806152,"wires":[["f90e55ba.f31358"]]},{"id":"f90e55ba.f31358","type":"function","z":"9c0f0d4b.834c5","name":"","func":"p=msg.payload\nmsg.topic='';\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Temp Ada\"\n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1370.2856979370117,"y":182.71426963806152,"wires":[[]]},{"id":"9ce43e83.de784","type":"function","z":"9c0f0d4b.834c5","name":"to (x,y)","func":"d = msg.payload;\nvar i;\nvar x;\nvar k = [];\nvar z = [];\n\nfor (i = 0; i < d.length; i++) {\n\n    w = d[i];\n\n            z[i] = {x: Date.parse(w.Data),y: Number(w.temp1)};\n            k[i]={x: Date.parse(w.Data),y: Number(w.temp2)};\n    }\nmsg.payload = [z,k];\nreturn msg;","outputs":1,"noerr":0,"x":1157.2856979370117,"y":257.7142696380615,"wires":[["505137ee.874948"]]},{"id":"505137ee.874948","type":"function","z":"9c0f0d4b.834c5","name":"to graph","func":"p=msg.payload\nmsg.topic='';\nvar q=[]\nq=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Temp\",\n            \"Temp Ada\"\n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1298.2856979370117,"y":257.7142696380615,"wires":[["add4ddbd.351ed","8a697e36.18551"]]},{"id":"8a697e36.18551","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1644.2856979370117,"y":101.71426963806152,"wires":[]},{"id":"e15c2811.a658d8","type":"function","z":"9c0f0d4b.834c5","name":"GET","func":"\n//msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\nI=msg.payload[0]\nO=msg.payload[1]\n\n\nmsg.topic= ('SELECT * FROM humid_table WHERE Data BETWEEN \"' + I + '\" AND \"' + O + '\"') ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":297,"wires":[["5b1a2b7c.8322c4"]]},{"id":"5b1a2b7c.8322c4","type":"mysql","z":"9c0f0d4b.834c5","mydb":"af2c2e72.8c39e","name":"laumec_db","x":950,"y":320,"wires":[["f58088e4.849f38"]]},{"id":"df83b8ce.d4af18","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1619.78564453125,"y":498.7142639160156,"wires":[]},{"id":"f58088e4.849f38","type":"function","z":"9c0f0d4b.834c5","name":"to (x,y)","func":"d = msg.payload;\nvar i;\nvar x;\nvar k = [];\nvar z = [];\n\nfor (i = 0; i < d.length; i++) {\n\n    w = d[i];\n\n            z[i] = {x: Date.parse(w.Data),y: Number(w.humid)};\n               }\nmsg.payload = z;\nreturn msg;","outputs":1,"noerr":0,"x":1148.2856979370117,"y":332.7142696380615,"wires":[["a53b6c1a.b99b7"]]},{"id":"a53b6c1a.b99b7","type":"function","z":"9c0f0d4b.834c5","name":"to graph","func":"p=msg.payload\nmsg.topic='';\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Humidade\"\n            \n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1289.2856979370117,"y":332.7142696380615,"wires":[["e74e1161.15e9f","1e5c215f.e1a95f"]]},{"id":"1e5c215f.e1a95f","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1618.2856979370117,"y":403.7142696380615,"wires":[]},{"id":"d1ff69d7.98fa28","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":1276,"y":673,"wires":[["b93fd363.71475"]]},{"id":"7cfc2af0.aca8f4","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":140,"wires":[]},{"id":"44e23e04.2caed","type":"ui_text_input","z":"9c0f0d4b.834c5","name":"HORAIN","label":"","tooltip":"","group":"efcd8f77.7bd43","order":3,"width":"3","height":"1","passthru":false,"mode":"time","delay":300,"topic":"","x":280,"y":680,"wires":[["729b800c.f42d"]]},{"id":"2bc26dfa.f7a922","type":"ui_text_input","z":"9c0f0d4b.834c5","name":"HORA OUT","label":"","tooltip":"","group":"efcd8f77.7bd43","order":7,"width":"3","height":"1","passthru":true,"mode":"time","delay":300,"topic":"","x":289.5,"y":723,"wires":[["7d1b02f4.12cb5c"]]},{"id":"e12f66f6.601a58","type":"inject","z":"9c0f0d4b.834c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["44e23e04.2caed","2bc26dfa.f7a922"]]},{"id":"7d1b02f4.12cb5c","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"HH:mm:ss","locale":"pt_PT","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":520,"y":700,"wires":[["b8f3dea7.609d4","f46374fd.36a748"]]},{"id":"b8f3dea7.609d4","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":760,"wires":[]},{"id":"b97865f0.61cc08","type":"ui_button","z":"9c0f0d4b.834c5","name":"","group":"efcd8f77.7bd43","order":10,"width":0,"height":0,"passthru":false,"label":"LIMPAR GRÁFICOS","tooltip":"","color":"","bgcolor":"","icon":"clear","payload":"[]","payloadType":"json","topic":"","x":1060,"y":500,"wires":[["e74e1161.15e9f","add4ddbd.351ed","4e298bd.f0aa774"]]},{"id":"4a40d6fc.7aecd8","type":"function","z":"5ed8f0b3.34a62","name":"DB","func":"var msg4={};\nvar db;\nvar date= msg.payload[0] ;//new Date();\n\n\nq = msg.payload[1];\ndb = q.db;\n\nmsg4.topic=('INSERT INTO db_table (Data, db) VALUES (\"'+ date.toString() + '\",' + db.toFixed(2) + ')');\n\n\nreturn msg4;\n","outputs":1,"noerr":0,"x":1793,"y":421,"wires":[["14785bed.7e40f4","e173357e.ffad38"]]},{"id":"7865516b.3421d","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1357,"y":418,"wires":[["6c8c769.7333f88"]]},{"id":"e173357e.ffad38","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1992,"y":428,"wires":[[]]},{"id":"14785bed.7e40f4","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1997.5,"y":501,"wires":[]},{"id":"d99ec83c.439038","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1585.5,"y":320,"wires":[["d8665e57.c557e"]]},{"id":"68b65121.a6467","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1579,"y":372,"wires":[["d3cd913.28fab7"]]},{"id":"6c8c769.7333f88","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1586,"y":420,"wires":[["4a40d6fc.7aecd8"]]},{"id":"306ba33e.4f93fc","type":"function","z":"9c0f0d4b.834c5","name":"GET","func":"\n//msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\nI=msg.payload[0]\nO=msg.payload[1]\n\n\nmsg.topic= ('SELECT * FROM db_table WHERE Data BETWEEN \"' + I + '\" AND \"' + O + '\"') ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":786.7143020629883,"y":364.2857303619385,"wires":[["af3120b1.6bffa"]]},{"id":"56b30e1d.554b6","type":"function","z":"9c0f0d4b.834c5","name":"to (x,y)","func":"d = msg.payload;\nvar i;\nvar x;\nvar k = [];\nvar z = [];\n\nfor (i = 0; i < d.length; i++) {\n\n    w = d[i];\n\n            z[i] = {x: Date.parse(w.Data),y: Number(w.db)};\n               }\nmsg.payload = z;\nreturn msg;","outputs":1,"noerr":0,"x":1149,"y":396,"wires":[["a10fcd40.5dc78"]]},{"id":"a10fcd40.5dc78","type":"function","z":"9c0f0d4b.834c5","name":"to graph","func":"p=msg.payload\nmsg.topic='';\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Humidade\"\n            \n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":396,"wires":[["4e298bd.f0aa774","df83b8ce.d4af18"]]},{"id":"af3120b1.6bffa","type":"mysql","z":"9c0f0d4b.834c5","mydb":"af2c2e72.8c39e","name":"laumec_db","x":950,"y":380,"wires":[["56b30e1d.554b6"]]},{"id":"4e298bd.f0aa774","type":"ui_chart","z":"9c0f0d4b.834c5","name":"","group":"d23e338.fdc98d","order":2,"width":"26","height":"6","label":"Sound Levels","chartType":"line","legend":"false","xformat":"DD/MM HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#981e32","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1610,"y":356,"wires":[[]]},{"id":"bf92eb51.81adc8","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":1,"width":"20","height":"6","label":"Som (24h)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting for valid data","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#981e32","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1870,"y":719,"wires":[[]]},{"id":"58c90b91.12f704","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":1140,"y":723,"wires":[["f3d86497.fef9a8"]]},{"id":"8c73de8b.fdb29","type":"ui_toast","z":"5ed8f0b3.34a62","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1275.5,"y":907,"wires":[]},{"id":"b4aa8219.c1fa3","type":"switch","z":"5ed8f0b3.34a62","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"405","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1024.5,"y":831,"wires":[["8c73de8b.fdb29"]]},{"id":"f3d86497.fef9a8","type":"function","z":"5ed8f0b3.34a62","name":"xx.x","func":"temp = msg.payload\n\nmsg.payload = temp.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":1721,"y":720,"wires":[["bf92eb51.81adc8"]]},{"id":"96acbf73.f12f1","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":966,"y":161,"wires":[]},{"id":"add140d8.a2ef9","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"pt_PT","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":672.5,"y":875,"wires":[["7f796eea.207fb"]]},{"id":"7f796eea.207fb","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":873,"y":877,"wires":[]},{"id":"cfb195da.4e4808","type":"inject","z":"9c0f0d4b.834c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":481.5,"y":873,"wires":[["add140d8.a2ef9"]]},{"id":"27bdb5d0.e6353a","type":"change","z":"a1016311.23b25","name":"NAME TO TAB","rules":[{"t":"change","p":"payload","pt":"msg","from":"MEDIDOR SOM OPEN SPACE","fromt":"str","to":"3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"LAY2FORM","fromt":"str","to":"5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"PROJECTO X","fromt":"str","to":"7","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"PROJECTO Y","fromt":"str","to":"9","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"PROJECTO Z","fromt":"str","to":"11","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":560,"wires":[["bf821231.d01db"]]},{"id":"a30d5431.106288","type":"ui_form","z":"a1016311.23b25","name":"PASSWORD INPUT","label":"","group":"db25e693.02cb68","order":3,"width":0,"height":0,"options":[{"label":"PASSWORD","value":"password","type":"password","required":true}],"formValue":{"password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":540,"wires":[["10eab514.5c6fcb","7a58c0.541b574"]]},{"id":"7a58c0.541b574","type":"debug","z":"a1016311.23b25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":440,"wires":[]},{"id":"10eab514.5c6fcb","type":"function","z":"a1016311.23b25","name":"PASSWORD VALD","func":"var auth ;\ncred=msg.payload;\nproj=flow.get('projeto');\npass=cred.password;\n\nif ((proj == '<b>MEDIDOR SOM OPEN SPACE</b>') && pass == (\"123\")) { \nauth=1;\n} else if ((proj == '<b>LAY2FORM</b>') && pass == (\"123\")) {\n    auth=1;\n} else if ((proj == '<b>PROJETO X</b>') && pass == (\"123\")) {\n    auth=1;\n} else if ((proj == '<b>PROJETO Y</b>') && pass == (\"123\")) {\n    auth=1;\n} else if ((proj == '<b>PROJETO Z</b>') && pass == (\"123\")) {\n    auth=1;\n}else\n{auth=0\n}\n\nmsg.payload= auth;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["48830bc.0261df4","8ee5fc53.0acb2","f47c0925.cbc3e8"]]},{"id":"48830bc.0261df4","type":"debug","z":"a1016311.23b25","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":480,"wires":[]},{"id":"74b05e75.3522b","type":"ui_toast","z":"a1016311.23b25","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"PASSWORD","x":1150,"y":620,"wires":[[]]},{"id":"8ee5fc53.0acb2","type":"function","z":"a1016311.23b25","name":"POP UP ENTRAR/ERRO","func":"AUTH=msg.payload;\nif (AUTH == \"1\") { \nauth=\"A ENTRAR\";\n} else \n{auth=\"PASSWORD ERRADA\"\n}\n\nmsg.payload= auth;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":620,"wires":[["74b05e75.3522b","d876b0c8.a4f22"]]},{"id":"f47c0925.cbc3e8","type":"switch","z":"a1016311.23b25","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":540,"wires":[[],["27bdb5d0.e6353a"]]},{"id":"bf821231.d01db","type":"ui_ui_control","z":"a1016311.23b25","name":"","x":1280,"y":560,"wires":[[]]},{"id":"16e5367d.f4118a","type":"ui_list","z":"a1016311.23b25","group":"db25e693.02cb68","name":"LISTA PROJETOS","order":1,"width":"10","height":"10","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":290,"y":640,"wires":[["65f8ee11.d7238","1fb47284.6a1d5d"]]},{"id":"993e38b3.244778","type":"ui_text","z":"a1016311.23b25","group":"db25e693.02cb68","order":2,"width":0,"height":0,"name":"PROJECTO","label":"PROJECTO","format":"{{msg.payload}}","layout":"row-center","x":1170,"y":760,"wires":[]},{"id":"65f8ee11.d7238","type":"function","z":"a1016311.23b25","name":"TITLE TO SHOW","func":"c=msg.payload;\ntitle=c.title;\nmsg.payload= title;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":760,"wires":[["993e38b3.244778"]]},{"id":"d876b0c8.a4f22","type":"function","z":"a1016311.23b25","name":"CLEAR TXT","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":680,"wires":[["993e38b3.244778"]]},{"id":"f3729453.283578","type":"inject","z":"a1016311.23b25","name":"Projetos","topic":"","payload":"[{\"title\":\"<b>MEDIDOR SOM OPEN SPACE</b>\",\"description\":\"I4.0\",\"icon\":\"https://png.pngtree.com/png-clipart/20190918/ourlarge/pngtree-vector-rectangular-sound-wave-curve-png-picture-2878871-png-image_1730937.jpg\"},{\"title\":\"<b>LAY2FORM</b>\",\"description\":\"SATELITES\",\"icon_name\":\"fa-fighter-jet\"},{\"title\":\"<b>PROJETO X</b>\",\"description\":\"COMPOSITES\",\"icon\":\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEjRwQcHlZM42TsYXALET2HOa1gCzG6hPrJXl9g908cHPen2RRZw&s\"},{\"title\":\"<b>PROJETO Y</b>\",\"description\":\"NANO CENAS\",\"icon\":\"https://www.dw.com/image/43368939_303.jpg\"},{\"title\":\"<b>PROJETO Z</b>\",\"description\":\"AEROSPACE\",\"icon\":\"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUSExMVFRUWFRUVFRUVFRUVFhYVFRUXFhUWFRUYHSggGBolHRUVITEhJSkrLi4uFyAzODMsNygtLisBCgoKDg0OGBAQGi0lHR8tLS0tLS0tLSsrLS0rLS0rLSstLSsrKy0tLS0tLS0tLS0tLS0tLS01Ky0tLS0rKzcrN//AABEIALcBEwMBIgACEQEDEQH/xAAcAAAABwEBAAAAAAAAAAAAAAAAAQIDBAUGBwj/xABJEAACAQIDAwcHCAcIAQUAAAABAgMAEQQSIQUGMRMiQVFhcZEHFDKBobHBI0JScpKy0fAVFmKCosLhM0NTY3ODs9IkZISj0/H/xAAaAQEBAQEBAQEAAAAAAAAAAAAAAQIDBAUG/8QAKhEBAAEDAgYBAwUBAAAAAAAAAAECERMDEgQUITFBUVIiYXEVQpGhsWL/2gAMAwEAAhEDEQA/AMquHpxcPU5YKdWCvvbnx8UICwU4sFT1gp1cPV3rGjCtGHpxcPVmmH7KWMNUyN4LKwYelDD1aLhuynFwtXIYVUMNS1w1W6YSnPM6mVeWU64anBhqthhKWuEqZYOXlUDDUrzarkYOj81plg5dTjDUfm1XHm1GMNTKYFN5rR+bVc+bUPNqZUwqbzai82q682oebUyphUpw1F5tV15tRHDUymFSnDUnzers4WknC1MiYVIYKIwVcthqQcNVyJhVBgpPIVbHD0kwUyJhVfIUOQqzMNJ5GmRnCruRouRqxMVEYqZDEruRouRqwMVJ5Km9MSByNCp3JUKm9ccmUgp5MPVimGp5MLXizS+xhp9K9cNTq4WrJMPUhMNTNJhpVaYOpUWD7Kskw1PpBWJ1pdadGmFauE7KWuF7KtVi7KcEQ6q55ZddlPtVLhac81qzEIpawimU2wqfNRShh+yrDFvFGpeR1RRxZiFUd5OlV2B25g5nyRYmJ26FDrc9w6fVTL+WJ0/vBXm9DzardIRSuQFTmF5ePMqbzah5tVuYqSIqcxbuRw0T2lVnD0Xm9Wph7KScPTmF5WFWcPSTBVr5vSTh6k8TDUcHdVmGm2jq2817KZkwRrPNtxwNM95VhFNk1PfBGmmwp6q1HFRJVwER5QiaaYVMlgb6NVeOxiR+m6J9ZgvvNbjiHKeEiDjCm2FV36ZiOquH/wBMNJ9wGguIkf0IcQ3+y6f8gWtZnKdCmP3QlOe2mHnpCYLGvwwrjtkkiX3MTTi7v49uKwJ3yO58Ag99MzOOgy2K7DSGxVTE3UxZ9LExL9SFj7Wf4U4u5hPp4uc9iiJB7Ev7amdmdOj0rfOeym3x4XiQO8ge+rr9T8Kvpcq/15pCPDNagm7uCTVcPED15AT4mpzEs46fTOHb8A0M0X21/GirWDCwjhGn2V/ChWeYkxQnJCKkR4anYx3VIQdntr58a9M9n2p0a472RxhTShCw6L1MU9hp5SKuafbOOnzCGnaKkJansi0kxr20zSkaVI1ApwAddRi69dBWB0rOeWsFKWEXspnHzRxRtI5sqi5tx7AB0knT10fmx66yu+GIUWiLDTnEX1J6NO731qnVmqbOWpTTRTeJYPeeeXGuXlJCj+zjvzUHxbrb4VkJ8OUb2g9tbzGEDQKfDL96xrNY3K9wCuYBWIFyQGF16BXto1Jjo+dVTfq33k43vea2FxD3kA+SkPGQDijHpYDgekA9I16IZABXm/AykFZI3IZSGUgagqdDr2iuobQ3rYYaOdQOejs2psnJjnAev3Vy1qpiqNvl6NCmmqmd02sb3g8qkMErRRQtMUco7FxGlxoQhsxaxBHADTpqjm8sU1+bhYwP2pGY+IUVzAnS5OvE9ZPX766zsXdLZ7Qxu0V2KjNmeU86wvpmt034dNdPpjvDhvq8SZj8scvThEPdMy/yGpuH8san08Gw+rMG9hjFJEmxoSR/4twbHRXII6OBp0737MjHNdB9SFvgtW9HxZ3anyard7faDFKSYp4iPmtC7Zh1oyAhu7jVuNsqfQgxDf7Jj/5ctYnD+VjBoMpE0nVlRQf42FIfywYb5uHmP1jGvuY1z2xfpDeWr23P6Qnb0cIw/wBSWJfuF6LNjD/d4dO+SSX2BE99c6l8sJJtHg7/AFpjfwVKbPlO2g/9ng0HeJG+K1qKJ8QzOp7l0jzHFN6WIjX/AE4LHxkdvdTbbGJ9PEzt3FI/+NFPtrkWN8qm0gSp5FCDYhYtR9pjTWz96NtYstyc5str6YeNRfgLlRViiZm0Jv8ALrrbDw/zlZ/9SWST77Gl4fZuHT0YIl7o1HttXBcVvTtC7K+KmBBIIzkWINiObpVbPtfEP6U8zfWlkI8CamxN93pBsRGvEqo7SAKh4jeHCp6eIhXvljHxrzgqZ2ANrnS51t7zWrwG6WFkDHz9Blte8Lx8erNe47a1TpTPYmuzqsu/Gz144qE/VcN929V03lF2eP74n6sch/lriWKgyuwVsygkBusA6H10UcF+usWs1eXXZ/Kbghw5Zu6O33iKrpvKnB82GY95jX+Y1j0TZ62Uxyu9hm5+RQ3SAb3I7bCnHXBix8ya1hq2IlGp6K6xo38sZF5ivKgT6OH+1L+CVWy+Uac8Iox3szfhVfj1geMiPDRxN0MJZGYaXsb6Gs1WK6NsrTVdrDv/AIvqh+w3/ehWUoVlrq9Jiw6KfQA8GI8azKM/0z9qnklkHzj41+cyRHl+xq4afa+LyD51OxtIfniqJMVKOnxtTvncnZUy/f8Atzq4efsvBDJ9MUtQw6b+s1Q+cP2eNGJ37PGpnj3/AGxPDVe4aJCvziB3mpCBOtfGsvyz9njRhz+TVjiqYcp4SZ/c1PMHzl8awm02zOW6yT+fVYVZOpIIN7EW41V49AqkDuHeTr8a+nwVUV0zXD5XG07KopvdnsVqSap4YvTjtqtrHpKMMy69lzU+LaKSSSRLe6cTpbja3G/HrAqt2o5jnVuhooj3goAfate+zwkDZtow3D5Rl8VBH81J2tiDHhJYyb3tk/fZVkt6gD41fYXDGTCS66rLG3ZqMvxrM7es8TrY54zcggj0TYkXGv4Xq3uMm/D1V3DYLXhPUp96/wBK4gouR6hXadjYxY43Ugm9rd9j+NJRyttnNIMRMCAsLC4N7nlJMot41X1rhujiSHVZlCyG7Ld1ViDcXHTbtpn9RMR/iReLf9a1dJhnMM9r3AOh492lMqa1I3GxIB58XD6Tf9aY/U2f6cXi3/WrNSRCw3R2GkmHfE52EiS5FUGwIKqb5hqDzjV9Fh5UuwdrgHXlHPvNVuyN3doRRNEnIlGbOQWIOawHHLccBUh93to2ICRXIIvypNrjjwrjXOpuiaZ6PdoaujTpzTXTEy51LLmYkkkk3JJub99bzdrdIS4E4zlspV8vJZLhrMq+lm0vm6uiqweTrH39GP7f9K1OysJtDDYI4PkIWBkLlzJqBmVrDTjdfA12iqY6xPV4oimelXZznbaZcRKvU5FQb1osbuvi3kd2EYLMWPPOlzw9GozbrYnqQ9z/ANKl/ZVEXmy63FhQ4XHExo8mVBEWVWZWOfVM3A8KjYaEtygdmW0MjA3C85RmF9NRpa1NbL3bxkTrIIgxU3FmX89NTsbgdoOpXkLZgQeB0PVrxqbqrxbs60zTsmJ7scZtKkbLcGWNW1UyIGGvo5hfUdlTDutjOHIt/D+NKj3ZxisGED6EHQp0G/XRyu0e/wBsnCYdofN4uTzLIzAvI98pTL6ZNuLeNZSSdm1PDTuFuFXm18NtCcqZIJWygqubKbKbdR7KqX2Ji+Hm8ngPxrW6Wr0ozT3tVWKt5dj4nhyL+u341GOxsR/hN/D+NZmbs/hCvQqb+h5/8JvZ+NCoOmx7w/5f8X9KeXeH/K/i/pWaSSnlevHPAaPx/wBfpI4zUnvLRLvB/lDxpwbfH+H7azqvTges8ho/H/Wo4qr20K7eH0Pz404Nur9H2D8azgalZ6n6fo/FrmZaUbdXqH2f60o7fXqHgazHKUh5Kz+naPxOY+0N3gsaJYy9gACRoD0DXj3iq/bOIREDOwCk9N7k9AA4k8astm4XJhkW2pTMe9+cffWX3x2g0LxZGKlY73BswzHMbN0EjLqOo169LTp06dtPZ+f4jUyalVSK2NhJsLqW6WRkDHvYCm95sDcYXoJQJ3WYDXxo334eWIxzFGUjK65Tcg6XB6/XVpj4s8eFN75S4J67LcN67X9ddHEN3IC2HxKcTpbvANreAqJPh4XDBxZrEFghOW4sczAew1b7BjyrMOhsh9RBv7jVXj9qYgxlIGCIDdWTmvmvoSRxB6e+/RVRzKLAEYkQGwIlVLk6WDDnX+jl51+qujnELwU3HX11mNsRyiZMRDDeR4opRIuYFZcuVrKDbRkOlq65uri4sbh1kkgQSDmyq8YuG69RwPEUGPXFWpxJyda3U2wMK3GFPUMvupMG7eCbmlGQ9BWR7HxJsaDDyYnS1FDJ01uZtwcOfRkmHrQj7tRJdwbejiD+9Hf2hqCjgxtSRtKpcm4uIHoyxHvzL8DUOfdHGrwVG+rIP5rUQr9J1HxW0r6XqPJsLGrxw7fulG+6xqBiMBiV9KCYf7b/AIULCmmuaOG17mq9mK+kCO8Ee+nExIoq/ixAFO+dVQDFUsYqiSupMQKCzgVSjE0ZxPbVuzZctiqjTYqqtsVTLz3NLlkuea4qtlNLklqO7VGoHehTd6FFUSzNTqzN10lI+yn0ir0WeuKpGszddOCZuulLHTixdlLNRMkCZqMyt11IWHspfI2pZq8onKN105hYnkdYwdXZUHexA+NSRB1WNP4VWjdHBsVYMCBexB6AdD66kwn1OnSobm624L381eHZXI99MSZsVJl9FTlHcugrQtvlE55202U3tZ8Ggtb9pTVbm2aAHOLuCbZhhXylh0XMg6jXniXjsxsmHIrfbp43lIBGTzoyPCxUeq2WqXE4zZp4Yhj/AO2P/wB1IwW2sHCSY52GlieRI0v2seqre6NwHMaN1mwHj/8AtJwgijTnAcNfDUVHjZmAzLO3A8yBG6Lj54toaebChhbksUe+LDIB9qU1Llme23jY+RV1uAJpE0F7ZxymvZfOfXUXZ+1JU50MrLfiUYi9ug9frq1x2zmRbrfk2e1iVIZkzAgqAOBzD11VQ7LtIWjBW5FwBcEdqnuOo1rdNVu70acVbY9LeDe7Gr/eB/rIp9oANT4995vnwo31Sye/NWNxW21jk5MqrWU5irXs4JBU3HRao8+0zMOSA5PPYBs3Ak252nDhwrUzSVY3VNleUeK1pI5LdBRkkt67i4q9w2+2Bf8Avcn10dfba3trleC3VXDzLG+LuWjLjUmEa8OAytp4E1YYvZsUa52xCNqBZFZzc6AADXj02rN6WYoonzZ1vCbWw8n9nPE/Ysik+AN6lvwrz0+3MD0u7fVjb+e1Ii3yjj/svOVHRaUJ7FJHvqWKtKmP3Q7/AJ6ejkvXAh5T8UvoFiP81lk8Tkv7am4LyvYpTd4YX+rnjPjdvdS0uMxby7PPxsaiSbOgf0oYm+tGh94rnsPlfgb+0w0qn9hkf72WrnC+UvZz6GV0P7cT+0qCPbS0o0j7r4NuMCD6t1+6RUWXcfBHgrr3SN8b0rAb2YKXRMTCT1cooPgTerdcQpFwbjrGoqDNy+T/AA59GWVe8o38tQZvJ39HE/aj+If4VszKvXRcotCzn83k/wAQPRlibvzr8DVdPuVjRwRG+rIv81q6lnFJLCiWcgm3axq8cO/7uVvuk1Bl2ZiF9KCUd8bj4V2pmqO70VxMow+afA0ddmMnbQoOGRR9/hUiOI9tU/6xRgaQkntew91Ed6OqBb9Zct7LCu2+Hq3Ux5aGLDnqPsqQmF76yn61SjgkY/dPwIpuTejEng6r9VRfxNzU3rGrQ2vmh/a8KfXCngQfWPwrnbbdxJ/vnHcbe0Uy+0524zynvkf8ak1men06amBvfo9YHvofJpq0sQtqbyKDYdXXXKnlZuLMe8k++kVJqk5iPR3EsGYkcCSR3FjRHENkyaZb3AsOPXfj0nxpK62/PTRMtYeUiiPA91LNEKI7dsXaCG+tvk4CAekFdCOzQ1dRTAi3Qb/Gsfu6c0cDf+mw1z1kGQfjWlwbXP56zQZ7ynY+SGCIxHJeUgkBelWJ4i2pFY7C4rETYYuZ3BEpzsCF+TEZsOaBxbT11sfKdFmw8a9JdiO9VNq5/skk4eRAfSug734eu6ijUV1RFolP2zspFSKRWZmeNHkzsSBmIByi99TmNuw0xu/gkadI1SWVm4KtlGmt21OmnG9h22tU/bqtnMQBOVURRa5JzEHhxPDxqnCsjMoZo72DZCbm49Ei401FxRleHGRNBNKDK2TMBmkex0OUpla3HpPRWSGNk/xZh++x+IrTJio8nIckcrq7FhewFxYXt1Zh2aVWRPs69nTEjXXnIQPAg+yl7N00bvMR+VNl6iD67e+1Dk26r92vurRxDZFzc4gdV76+FOn9D2B+X7ufcdp9+l6m/wC0umD/AKp/llibcadmhdCA6spIDAMpUkHgQD0aHWtvsj9FK6uspBBIUSs9g3BWKtpx1BPf0VNSCCdnhxhzy4cM2c5lvGxvxBu1hlN+i9XdDE6UxVFN46/dzfPRh63JwWx3OVZEUjW5kZVPRozGxp9f0RFqDCxGvTKf3ePspvdOXn5R/LGYLDxysqcsFLEDnRkgEmwuQT7q0se5OKiN0nRD1ozofFasP1twIswVrg6AR2It09VJk36w5+bKf3V/7VJqq8N06ejEfVJzCw7Witlx3DocmT76mrnC7xbVS2Z8LIOnNG4J9aED2VRYXe7DPoS0Z/bGniLihiN5sKDblL9qhmHiBWouzNGl4lssPvxIP7XDp3xyn7rJ8asId9cKfSEid6hh/CSfZXOTt7CkX5Vdeu4PrBpiXbGH/wAQHuBPuFWzM00OtQbx4R/RxCfvEofBwKmpIr+iwb6pB91cObbEPRnPdG/4UhdroDzVlv2RsDTa5zTT7dzK0K4r+sU44HF27GcDwzUKlktHthqO9JvR0ZHQvRUKBV6O9IoxRSr0KKgKiHYEJOgv3UJBrSsMl70mTjQINEKMmkjjQdT3LfNhYz1Rqv2Z5wPZatTgPz4msZ5PXvhiPouB/G7fzGtpgR+fXQZ3ylSW83X/AFT9wD41itkMM6qbWM8bHgNEdXPsDVqPKNKGxEa/QjHqLMx91qyEUTFwoBJux06QUZdKDQ41uTlEgb0Zbk3vcc1gff41H3mgVZZ1CizsxDXIIs7BbdhFqiT4Vo1IsWvFmIGmW9rE93xpzFyNJEHOpFl9QRONBXrIQPUL9tqSm78k+aRfRuAeaxsxtpcaa3HjQCmrrZG2HwkUr3cAhOauQ354Vr3BsMrMe0gDpoKZN1ZD89SOwU9+qZ6ZO/SrPeXanITiys6OokEocKWDeloFtx94p7Cb1oicvyFwptHyhBMjjW1gLBR16+yrd0idO3WJuTsHcnlGNo3mFrDTmg9raD21dbx7Mkw3IzKI2lQLHIA4ZuRuRZtbA8Lk9F9ag7072YoqkySZ8NIpKrquUkWCMEIHNbQg9I7RUDdDaxkXF+cW5NYAxCqABZrE9Z0JqLVNO3ocwu7ECymTSSF1LRA6rlfhw4kai/ZUqbd3DEG0aC9rWuLWFtOqo0xaOKTBwFxJEvLRMxDGRSc0iqOFrWt2g1l23mxRUDlB9YKtz3nh7Kt1proim0x1agbswZbZRe/G7X8aYbdSK3A/aNZqHeDEre0pNzc5gG947Kdk3lxJ+eo4cEX2XvWtzM7J8NFgd3IkcNlzW4BtR4U5jNhRM18gFz0C3urLJvFiQfTB7Cq2PfYCjbePEHpX7NXfDP02s1EOy404Io/dvTzqfyKxv6dn+mPsiiG3JrHnA36SNR3Vd8F4atyfyKZZjWeXb0n0V4dvHpJ1pL7dkI0AB6Tr7B0U3wXhfGQ0dUI24/0R4miqboLqijoqO9c2Qo6KjBoBR2oXo70AtQFGKAU9VBKwa6E+qmpONSoPQ9ZqI9Ag0SjWjNEONB0bycf2En11+NbfAfnxrD+TY/IyD9ta2UeMRL65m1si85ib8AooMJvyWGLct02IH7IFl9i39dV2xtniaQ3coqozEgXNwLgeuxqT5QcSVnDNq7IhZb+gbHm6dIBW/aTUHd7avJxzPdLlo1ysCeblk5176asKC/wGFHnCWkR4pByT88FsjaG/dpVVioeTWSK9+TkC36DlLrceAqC7x29Bg1tCGuD22I9xqdDgnMOe2kmYIBe5yFMxAHRziO+9BCw0QY1LxcWeNk01U27D0e2m8Fg5S1hG5J6Apqy/RWI4GNl+tZeAueJ6gaCqw8S4rBIHcI2HkyEn0uSIJsO4Aa/5dUm08byrDKMsaDLGv0V6+88T/SugR4Tkns8JDOGWVEAbODHlOtxqTx6u3hWfg3Dna1m0N8vM1IHew6ONBA3a2ki5sNORyEvSeEclrB+xToreo/Nqfs3ANAm0Ebh5scp6wGt0aX6KcfctUB5TEKLcRzR8TU1toYKGF4ZZWnuix/J2zWDhrM1h0KBxvbp4UEDY2NklgXK4WTClS17nPADoDbiF107O3Sn3kwipIJIx8lMDIn7Jvz0/db3irfD714eFvkcGqKbBmLAuVuM1ube9hwzUNuIBFLGcpi5k2FZbc0MNQR2g6nrN+4MlehRUKA6FC1C1AKKhRUAoUKKgFqFChQJoUKFAdHaiowKAxR0VKAqgqOgat92cCkshDSIpUAor357E206NONQda2ZuxhMThIGmgBbkYruCyOeYOLIQT66xu0Nz4RiGQcqiecRwKBqcrqGLhmBuNTrw08NY+9UOAijgc8qVCIQnNePmkjMeDaLwtfrqoxflMdriGHL1NI2Y/YXh4mgZx/k1w0Sl2xMiKOLPydvcKzQ3WSRiYJHMS+nNIFRF7eFx2Dieqnp9qS4h88peYjgtmCg9Vl4Dutfrqw2ZiJcQyxBwtvRi5MCMDpIW418SeugGxo3wqM0BLx5rl2VT1ekouV6eNuNHi9uzszFG5O9yAugBK5SR1XufGr3Ebu5AWjikY252UgKdNSEXMQOys/icMUdlkVAbaEPmA14gggX0I18KCpwGDBzCQqbKNWsdSMujNqOjXrtem8TAq5gCPTvbQaWK3Nja4OlvXrUnFIGkByu2gQEc1BZbaac4m3DSmNobKeE888420sLjMtwDw1oITxnoexA051x+I/PCrPZ+2pjh5lLXMaqYwbHKnPVgOvWRD2kU3tjDRchEYyWYJnlOS2rWOrZjfKSF6B41K3UwSTQOpADMSC1hcLmU2/hqdlM4vaeKi5ORZiM3NKqFBGnDNa/t6ONQk2pjGkccpKwKyAgsSFUggkX0DKDx43rW43ZsUcbmOPMwRiBr0Lf0jwo8DslJoleVACV0jFwqdGutydONVFxLjJmhbkbR4gKCrWBZuBykniLgi9cx2lvFi5j8rPIbE6XK5TwIsLWrY7R2p5viYRIwy8gozHoyMwI7Li3rArIb1FDipDGCASDYi2pGpAtwPG/Te+t6CpkYsbk3PWTc+JpNKtRUBU8+KkKCMsSim6qToDa2nqpqncTKGNwipoost7aKATqTqbXPaaBk0LUKFAYFA0dHmP5tQNkUVLY0igBoqBoUAoUVCgKhQo6AUoGioCgVeheioUB0G4UKD8D3Gg6ntXdBp1E8TcodSUmOtjrYSJY+I9YobvwxR3gkw2HSQk5FmZlkuVA+Sd43SQXBIAc2vwrTbFmtGvdUjExxzKUkRXVuIYAjwNBzfaiSiV44jOchtIwlRlVMoJXlF5o6eo9nQJuyNkS2jli5JlIDgySk+xYxY+vorUYLduCKMxsXdSScuZkTXoyIQD671Lh2PhFHNw8XrQN969BnmixVwZcZhQAbhDK2UdmQrZv3r1KxXnMvOM0EllyAJFIwy3JsGSI249Fq0kJVNEVV+qAvuqZDLc6m/fQc1mwrrLEzSIBmBCokjDMLLd1YKdOi56DwqVHlkkkxAZHVneN0WRlsuUK6F8pPFl9EfO40zv0rNi7KCbTQGw6gEJPZ11X7IiEeGnySAsswMmlxzgLIt+rQ376ki520DOqLyhjzxyERoFdQFYHKSVBUWy9J4Dqocl5ssChDz4rjmg5tEtZk1sBbitMQiywHpC4gHr9CE/Gr7aDfJYQ/+nHujpYVLzM+gQqDxLEC9vm2BvY93D2TcNCQOJOluy97k26zUcNU3CydFj39H50qhzAQRyokxjXNbQsoLAE9B6OvSucb+pbHS9vJn/41Hwrp+HOlgAAPzp1Vzjyir/5nfFGe/Vxf2DwoMtahalUVAmhR2o7UAjNqOSx4UVqAFAmjPCjtR20oGyaSaURRWoE0VKtQtQJoUdqOgRR0KFABRihQoDoWo6FAYFFJwPcaFCg7hso/JL3CnkfWhQoBiZaQs9FQoFiarDCvwoUKDDbxNnxcvOK84C40PNVQR3aVCwOEQI6px5eJ3FzazLJ19wo6FBLxd+SHWPOf+KE/Cps2I5bD4RtQUjIPRdlCKeHQb3oUKBhZTfhprrfwFvzwqfh30oUKCfhDoa5/5Rx/5Sn/ACE/5JaOhQZWitQoUAtRgUKFAYWlBaFCgPLQVOPdQoUU0VoitChRBWoitChQFahQoUH/2Q==\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":640,"wires":[["16e5367d.f4118a"]]},{"id":"68ddc244.ef818c","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":60,"wires":[]},{"id":"9646e599.030dd8","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":766,"y":281,"wires":[]},{"id":"c9bc6e5d.7a60c","type":"switch","z":"5ed8f0b3.34a62","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":600,"wires":[["d7c72903.e63338"]]},{"id":"c4c1ac71.81a1c","type":"ui_toast","z":"5ed8f0b3.34a62","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"ERRO","x":826,"y":601,"wires":[]},{"id":"d7c72903.e63338","type":"change","z":"5ed8f0b3.34a62","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font size = 4,5 color = red><i class=\"material-icons\"> error_outline </i> Erro de comunicação","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":676,"y":601,"wires":[["c4c1ac71.81a1c"]]},{"id":"50de0897.626e48","type":"function","z":"5ed8f0b3.34a62","name":"COM error","func":"var error;\nvar errout={};\nvar t;\nvar date = new Date();\nvar tatual=date.getTime();\nvar tant=context.get('time') || tatual;\n\n\nt=tatual-tant;\n\nif (t>10000){error=1;}\nelse{error=0;}\n\n\nmsg.payload=t;\nerrout.payload=error;\n\ncontext.set('time',date.getTime());\nreturn  [msg , errout];","outputs":2,"noerr":0,"x":386,"y":601,"wires":[[],["c9bc6e5d.7a60c"]]},{"id":"e684e847.0c9428","type":"inject","z":"5ed8f0b3.34a62","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":600,"wires":[["50de0897.626e48"]]},{"id":"72af3458.54cdfc","type":"ui_chart","z":"5ed8f0b3.34a62","name":"SOUND REAL TIME","group":"c102622f.2cc1a","order":1,"width":"15","height":"6","label":"SOM (TEMPO REAL)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Waiting for valid data","dot":false,"ymin":"0","ymax":"30","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#981e32","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":800,"wires":[[]]},{"id":"ec61bcf5.a0bc6","type":"ui_gauge","z":"5ed8f0b3.34a62","name":"","group":"c102622f.2cc1a","order":3,"width":"5","height":"4","gtype":"gage","title":"SOUND","label":"","format":"{{value}}","min":0,"max":"100","colors":["#008a00","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1400,"y":840,"wires":[]},{"id":"1b983aae.f689c5","type":"moment","z":"5ed8f0b3.34a62","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD-MM-YYYY","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":1120,"y":60,"wires":[["f0c84d94.63e61"]]},{"id":"f0c84d94.63e61","type":"ui_text","z":"5ed8f0b3.34a62","group":"64722acc.5286b4","order":1,"width":"7","height":"1","name":"DATA","label":"<font size = 3 color = #8B2638><i class=\"fa fa-calendar fa-sm\" aria-hidden=\"true\"></i>","format":"<font size=3> {{msg.payload}}","layout":"row-center","x":1390,"y":60,"wires":[]},{"id":"7d1a028b.8d0bac","type":"ui_text","z":"5ed8f0b3.34a62","group":"37aec83c.ded988","order":4,"width":"7","height":"2","name":"SOUND","label":"<font size = 5 color = #8B2638><i class=\"fa fa-microphone fa-2x\" aria-hidden=\"true\"></i>","format":"<font size=5>{{msg.payload}}","layout":"col-center","x":1420,"y":760,"wires":[]},{"id":"4fe0f0cd.44153","type":"ui_ui_control","z":"5ed8f0b3.34a62","name":"PROJETOS UI","x":640,"y":860,"wires":[[]]},{"id":"7ad33a51.e17114","type":"ui_button","z":"5ed8f0b3.34a62","name":"","group":"65567ae.74e2784","order":1,"width":"5","height":"1","passthru":false,"label":"PROJETOS","tooltip":"","color":"","bgcolor":"","icon":"fa-th-list","payload":"0","payloadType":"str","topic":"","x":385,"y":860,"wires":[["4fe0f0cd.44153"]]},{"id":"ceb154e6.339a68","type":"switch","z":"5ed8f0b3.34a62","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"limit","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1020,"wires":[["f36f7df2.e8629"]]},{"id":"4041d016.92676","type":"change","z":"5ed8f0b3.34a62","name":"","rules":[{"t":"set","p":"limit","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1020,"wires":[["ceb154e6.339a68","b34ea05d.2d4f1"]]},{"id":"f36f7df2.e8629","type":"debug","z":"5ed8f0b3.34a62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":1020,"wires":[]},{"id":"b34ea05d.2d4f1","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"limit","targetType":"msg","x":1540,"y":1100,"wires":[]},{"id":"81008f97.df51f","type":"moment","z":"5ed8f0b3.34a62","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":1120,"y":20,"wires":[["98f4488.9462bb8"]]},{"id":"1fb47284.6a1d5d","type":"function","z":"a1016311.23b25","name":"PROJ SELECT","func":"//var count=flow.get('projeto') || {};\n\nx=msg.payload;\nproj=x.title;\n\nflow.set('projeto',proj);\nmsg.payload=proj;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":860,"wires":[["e9368e71.b7b02"]]},{"id":"e9368e71.b7b02","type":"debug","z":"a1016311.23b25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":860,"wires":[]},{"id":"be7fadb9.4497b","type":"function","z":"a1016311.23b25","name":"GET PROJ","func":"msg.payload=flow.get('projeto');\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":940,"wires":[["3e6d76f0.fb443a"]]},{"id":"3e6d76f0.fb443a","type":"debug","z":"a1016311.23b25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":940,"wires":[]},{"id":"1633503.e1f95b","type":"inject","z":"a1016311.23b25","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":940,"wires":[["be7fadb9.4497b"]]},{"id":"99d909dc.157d08","type":"ui_media","z":"5ed8f0b3.34a62","group":"e6b30808.552638","name":"","width":"4","height":"1","order":1,"category":"fotos","file":"1403083438.jpg","layout":"center","showcontrols":false,"loop":false,"onstart":true,"scope":"local","tooltip":"","x":1890,"y":820,"wires":[[]]},{"id":"7baf8a03.8e3f34","type":"function","z":"9c0f0d4b.834c5","name":"SET INDATE","func":"date=msg.payload;\nflow.set('indate',date);\n\nmsg.payload=date;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["91ae50ad.a28bf"]]},{"id":"413c2992.8ecf88","type":"function","z":"9c0f0d4b.834c5","name":"SET OUTDATE","func":"date=msg.payload;\nflow.set('outdate',date);\n\nmsg.payload=date;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["91ae50ad.a28bf"]]},{"id":"91ae50ad.a28bf","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":100,"wires":[]},{"id":"64a5f108.f7f92","type":"function","z":"9c0f0d4b.834c5","name":"MOSTRAR MOSTRAR S/HR","func":"var date= [];\n\nvar datein=flow.get('indate') || 0;\nvar dateout=flow.get('outdate') || 0;\n\ndate[0]=datein;\ndate[1]=dateout;\n\nmsg.payload=date;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":540,"y":460,"wires":[[]]},{"id":"109c9152.da33df","type":"mqtt out","z":"5ed8f0b3.34a62","name":"","topic":"v1/devices/me/control","qos":"","retain":"","broker":"9936d9a0.efcbe8","x":510,"y":120,"wires":[]},{"id":"c4d4c084.0937f","type":"ui_switch","z":"5ed8f0b3.34a62","name":"","label":"ONOFF LED","tooltip":"","group":"c102622f.2cc1a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":120,"wires":[["9c986dbf.07dc1","109c9152.da33df"]]},{"id":"9c986dbf.07dc1","type":"debug","z":"5ed8f0b3.34a62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":200,"wires":[]},{"id":"f46374fd.36a748","type":"function","z":"9c0f0d4b.834c5","name":"SET OUTHOUR","func":"date=msg.payload;\nflow.set('outhour',date);\n\nmsg.payload=date;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":700,"wires":[[]]},{"id":"6dc25aaa.c76e04","type":"function","z":"9c0f0d4b.834c5","name":"SET INHOUR","func":"date=msg.payload;\nflow.set('inhour',date);\n\nmsg.payload=date;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":660,"wires":[[]]},{"id":"8d86c424.a5d1d8","type":"function","z":"9c0f0d4b.834c5","name":"MOSTRAR","func":"var hour= [];\n\nvar hourin=flow.get('inhour') || 0;\nvar hourout=flow.get('outhour') || 0;\n\nhour[0]=hourin;\nhour[1]=hourout;\n\nmsg.payload=hour;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1070,"y":740,"wires":[["72456097.3c87b"]]},{"id":"e4c87cfc.a7aef","type":"inject","z":"9c0f0d4b.834c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":800,"wires":[["8d86c424.a5d1d8","99a8c33b.48668"]]},{"id":"72456097.3c87b","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":720,"wires":[]},{"id":"99a8c33b.48668","type":"function","z":"9c0f0d4b.834c5","name":"MOSTRAR","func":"var hour= [];\n\nvar datein=flow.get('indate') || 0;\nvar dateout=flow.get('outdate') || 0;\nvar hourin=flow.get('inhour') || 0;\nvar hourout=flow.get('outhour') || 0;\n\nhour[0]=datein + \" \" + hourin;\nhour[1]=dateout + \" \" +  hourout;\n\nmsg.payload=hour;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1090,"y":660,"wires":[["72456097.3c87b"]]},{"id":"729b800c.f42d","type":"moment","z":"9c0f0d4b.834c5","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"HH:mm:ss","locale":"pt_PT","output":"","outputType":"msg","outTz":"Europe/Lisbon","x":520,"y":660,"wires":[["b8f3dea7.609d4","6dc25aaa.c76e04"]]},{"id":"d9dc6955.a31a68","type":"function","z":"9c0f0d4b.834c5","name":"MOSTRAR C/HR","func":"var hour= [];\n\nvar datein=flow.get('indate') || 0;\nvar dateout=flow.get('outdate') || 0;\nvar hourin=flow.get('inhour') || 0;\nvar hourout=flow.get('outhour') || 0;\n\nhour[0]=datein + \" \" + hourin;\nhour[1]=dateout + \" \" +  hourout;\n\nmsg.payload=hour;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["94031fc3.a5737","e15c2811.a658d8","306ba33e.4f93fc","7cfc2af0.aca8f4"]]}]