FLOWS NODERED/flows_2019_08_26.json
[{"id":"5ed8f0b3.34a62","type":"tab","label":"MAIN","disabled":false,"info":""},{"id":"757325a4.d3897c","type":"mqtt in","z":"5ed8f0b3.34a62","name":"","topic":"v1/devices/me/telemetry","qos":"2","datatype":"auto","broker":"9936d9a0.efcbe8","x":166,"y":257,"wires":[["efc8e92d.1cfc78"]]},{"id":"bafae9bf.b4cf08","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":611,"y":238,"wires":[]},{"id":"efc8e92d.1cfc78","type":"json","z":"5ed8f0b3.34a62","name":"","property":"payload","action":"obj","pretty":false,"x":434,"y":257,"wires":[["bafae9bf.b4cf08","ea7863a4.83c51"]]},{"id":"ea7863a4.83c51","type":"function","z":"5ed8f0b3.34a62","name":"RAW DATA","func":"var msg1={};\nvar msg2={};\np = msg.payload;\nnode.log(typeof p);\nmsg.payload=p.data.db;\nmsg1.payload = p.esp;\nmsg2.payload = p.data;\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":627.5,"y":403,"wires":[["556140ed.83e0a","37fa4e17.46c7f2"],["96ef2841.6bcc18","7d14c045.5f69e"],["da2a009b.fc787","31cdbe28.18bfb2","f3acaadd.abc498","d2049f17.d32e8"]]},{"id":"556140ed.83e0a","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":874,"y":227,"wires":[]},{"id":"96ef2841.6bcc18","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":879,"y":271,"wires":[]},{"id":"da2a009b.fc787","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":882,"y":309,"wires":[]},{"id":"37fa4e17.46c7f2","type":"ui_gauge","z":"5ed8f0b3.34a62","name":"","group":"65567ae.74e2784","order":3,"width":0,"height":0,"gtype":"gage","title":"SOUND","label":"dB","format":"{{value}} dB","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":864.5,"y":498,"wires":[]},{"id":"7d14c045.5f69e","type":"ui_text","z":"5ed8f0b3.34a62","group":"65567ae.74e2784","order":1,"width":0,"height":0,"name":"ESP Name","label":"esp name","format":"{{msg.payload}}","layout":"row-spread","x":871.5,"y":456,"wires":[],"inputLabels":["1 :"]},{"id":"1dfcbc6.0269a44","type":"ui_slider","z":"5ed8f0b3.34a62","name":"","label":"","tooltip":"","group":"65567ae.74e2784","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":257.5,"y":670,"wires":[["baf0e8d9.8ead08"]]},{"id":"baf0e8d9.8ead08","type":"ui_numeric","z":"5ed8f0b3.34a62","name":"","label":"LIMIT","tooltip":"","group":"65567ae.74e2784","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":455.5,"y":671,"wires":[["1dfcbc6.0269a44"]]},{"id":"31cdbe28.18bfb2","type":"function","z":"5ed8f0b3.34a62","name":"DATA","func":"var temp1={};\nvar temp2={};\nvar humid={};\nvar press={};\nvar db={};\n\np = msg.payload;\nnode.log(typeof p);\ntemp1.payload=p.temperature[0];\ntemp2.payload=p.temperature[1];\nhumid.payload = p.humidity;\npress.payload = p.pressure;\ndb.payload = p.db;\nreturn [temp1,temp2,humid,press,db];\n","outputs":5,"noerr":0,"x":760.5,"y":609,"wires":[["b57e919f.4694c"],["328b0c0f.51e9d4"],["eab76c93.5ee8c"],[],[]]},{"id":"b57e919f.4694c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":5,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1011.5,"y":580,"wires":[[]]},{"id":"328b0c0f.51e9d4","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":5,"width":0,"height":0,"label":"Temperature Ada","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1033,"y":621,"wires":[[]]},{"id":"eab76c93.5ee8c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"ade1a905.8b59c8","order":5,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1003,"y":658,"wires":[[]]},{"id":"27aa9eea.3a0e82","type":"ui_dropdown","z":"5ed8f0b3.34a62","name":"","label":"ESP Data","tooltip":"","place":"Escolher Ilha","group":"65567ae.74e2784","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Esp1","value":"1","type":"str"}],"payload":"","topic":"","x":341.5,"y":736,"wires":[[]]},{"id":"6e58cbd8.788644","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1607.5,"y":440,"wires":[["e8f558ae.e1c0c8"]]},{"id":"e8f558ae.e1c0c8","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1796.5,"y":440,"wires":[]},{"id":"d3cd913.28fab7","type":"function","z":"5ed8f0b3.34a62","name":"","func":"var msg2={};\nvar date= msg.payload[0] ;\n\n//time=msg.now; \np = msg.payload[1];\ntemp1=p.temperature[0];\ntemp2=p.temperature[1];\n\nmsg2.topic=(\"INSERT INTO temp_table (Data,temp1, temp2) VALUES ('\"+ date.toString() + \"',\" + temp1 + \",\" + temp2.toFixed(2)+ \")\");\nreturn msg2;\n","outputs":1,"noerr":0,"x":1202.5,"y":413,"wires":[["da340faf.a8ff5"]]},{"id":"d8665e57.c557e","type":"function","z":"5ed8f0b3.34a62","name":"","func":"var msg3={};\nvar humid;\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\n//time=msg.now; \nq = msg.payload[1];\nhumid = q.humidity;\n\nmsg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ('\"+ date.toString() + \"',\" + humid + \")\");\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\n\nreturn msg3;\n","outputs":1,"noerr":0,"x":1204,"y":362,"wires":[["59f98731.e4ae68","a1284539.6ece18"]]},{"id":"a625428f.a2f8","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1663,"y":329,"wires":[["9e004106.9209a"]]},{"id":"9e004106.9209a","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1844,"y":328,"wires":[]},{"id":"da340faf.a8ff5","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1403.5,"y":432,"wires":[["6e58cbd8.788644"]]},{"id":"59f98731.e4ae68","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1404,"y":338,"wires":[["a625428f.a2f8"]]},{"id":"75bb0300.373b2c","type":"moment","z":"5ed8f0b3.34a62","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":1005.5,"y":154,"wires":[["f3acaadd.abc498","d2049f17.d32e8"]]},{"id":"fdabce45.a3d7c","type":"inject","z":"5ed8f0b3.34a62","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":696.5,"y":152,"wires":[["75bb0300.373b2c"]]},{"id":"eaf13266.f81fc","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1683,"y":140,"wires":[]},{"id":"f3acaadd.abc498","type":"join","z":"5ed8f0b3.34a62","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1065.5,"y":360,"wires":[["d8665e57.c557e","486773e1.97a0ac"]]},{"id":"a1284539.6ece18","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1423,"y":273,"wires":[]},{"id":"486773e1.97a0ac","type":"function","z":"5ed8f0b3.34a62","name":"","func":"var msg3={};\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\nmsg3.topic=(\"INSERT INTO humid_table (Data,humid) VALUES ('\"+ date.toString() +\"',1)\");\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\nmsg3.payload = date;\nreturn msg3;\n","outputs":1,"noerr":0,"x":1468,"y":161,"wires":[["eaf13266.f81fc"]]},{"id":"d2049f17.d32e8","type":"join","z":"5ed8f0b3.34a62","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1062,"y":414,"wires":[["d3cd913.28fab7"]]},{"id":"9936d9a0.efcbe8","type":"mqtt-broker","z":"","name":"","broker":"192.168.201.33","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65567ae.74e2784","type":"ui_group","z":"","name":"ESP","tab":"170a236a.bc605d","order":1,"disp":false,"width":"6","collapse":false},{"id":"9f27a7a5.d50918","type":"ui_group","z":"","name":"Temperaturas","tab":"170a236a.bc605d","order":2,"disp":true,"width":"12","collapse":false},{"id":"ade1a905.8b59c8","type":"ui_group","z":"","name":"Humidade","tab":"170a236a.bc605d","order":3,"disp":true,"width":"12","collapse":false},{"id":"af2c2e72.8c39e","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"laumecdb","tz":""},{"id":"170a236a.bc605d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]