FLOWS NODERED/flows_2019_08_23.json
[{"id":"5ed8f0b3.34a62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"757325a4.d3897c","type":"mqtt in","z":"5ed8f0b3.34a62","name":"","topic":"v1/devices/me/telemetry","qos":"2","datatype":"auto","broker":"9936d9a0.efcbe8","x":166,"y":257,"wires":[["efc8e92d.1cfc78"]]},{"id":"bafae9bf.b4cf08","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":576,"y":257,"wires":[]},{"id":"efc8e92d.1cfc78","type":"json","z":"5ed8f0b3.34a62","name":"","property":"payload","action":"obj","pretty":false,"x":434,"y":257,"wires":[["bafae9bf.b4cf08","ea7863a4.83c51"]]},{"id":"ea7863a4.83c51","type":"function","z":"5ed8f0b3.34a62","name":"RAW DATA","func":"var msg1={};\nvar msg2={};\np = msg.payload;\nnode.log(typeof p);\nmsg.payload=p.data.db;\nmsg1.payload = p.esp;\nmsg2.payload = p.data;\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":627.5,"y":403,"wires":[["556140ed.83e0a","37fa4e17.46c7f2"],["96ef2841.6bcc18","7d14c045.5f69e"],["da2a009b.fc787","31cdbe28.18bfb2","d3cd913.28fab7"]]},{"id":"556140ed.83e0a","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":765,"y":312,"wires":[]},{"id":"96ef2841.6bcc18","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":884,"y":370,"wires":[]},{"id":"da2a009b.fc787","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":897,"y":410,"wires":[]},{"id":"37fa4e17.46c7f2","type":"ui_gauge","z":"5ed8f0b3.34a62","name":"","group":"65567ae.74e2784","order":3,"width":0,"height":0,"gtype":"gage","title":"SOUND","label":"dB","format":"{{value}} dB","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":864.5,"y":498,"wires":[]},{"id":"7d14c045.5f69e","type":"ui_text","z":"5ed8f0b3.34a62","group":"65567ae.74e2784","order":1,"width":0,"height":0,"name":"ESP Name","label":"esp name","format":"{{msg.payload}}","layout":"row-spread","x":875.5,"y":459,"wires":[],"inputLabels":["1 :"]},{"id":"1dfcbc6.0269a44","type":"ui_slider","z":"5ed8f0b3.34a62","name":"","label":"","tooltip":"","group":"65567ae.74e2784","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":257.5,"y":670,"wires":[["baf0e8d9.8ead08"]]},{"id":"baf0e8d9.8ead08","type":"ui_numeric","z":"5ed8f0b3.34a62","name":"","label":"LIMIT","tooltip":"","group":"65567ae.74e2784","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":455.5,"y":671,"wires":[["1dfcbc6.0269a44"]]},{"id":"31cdbe28.18bfb2","type":"function","z":"5ed8f0b3.34a62","name":"DATA","func":"var temp1={};\nvar temp2={};\nvar humid={};\nvar press={};\nvar db={};\n\np = msg.payload;\nnode.log(typeof p);\ntemp1.payload=p.temperature[0];\ntemp2.payload=p.temperature[1];\nhumid.payload = p.humidity;\npress.payload = p.pressure;\ndb.payload = p.db;\nreturn [temp1,temp2,humid,press,db];\n","outputs":5,"noerr":0,"x":760.5,"y":609,"wires":[["81c3ce2.f11d43","b57e919f.4694c"],["c7d42d52.a45d6","328b0c0f.51e9d4"],["bb2718bf.540e08","eab76c93.5ee8c"],["43b4847f.4b6afc"],["660652f0.c93d1c"]]},{"id":"81c3ce2.f11d43","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":935,"y":562,"wires":[]},{"id":"c7d42d52.a45d6","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":932,"y":615,"wires":[]},{"id":"bb2718bf.540e08","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":928,"y":654,"wires":[]},{"id":"43b4847f.4b6afc","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":927,"y":690,"wires":[]},{"id":"b57e919f.4694c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":5,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1169.5,"y":583,"wires":[[]]},{"id":"660652f0.c93d1c","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":931,"y":730,"wires":[]},{"id":"328b0c0f.51e9d4","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":5,"width":0,"height":0,"label":"Temperature Ada","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1189,"y":621,"wires":[[]]},{"id":"eab76c93.5ee8c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"ade1a905.8b59c8","order":5,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1169,"y":661,"wires":[[]]},{"id":"27aa9eea.3a0e82","type":"ui_dropdown","z":"5ed8f0b3.34a62","name":"","label":"ESP Data","tooltip":"","place":"Escolher Ilha","group":"65567ae.74e2784","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Esp1","value":"1","type":"str"}],"payload":"","topic":"","x":207.5,"y":795,"wires":[[]]},{"id":"6e58cbd8.788644","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1494.5,"y":430,"wires":[["e8f558ae.e1c0c8"]]},{"id":"e8f558ae.e1c0c8","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1669.5,"y":428,"wires":[]},{"id":"d3cd913.28fab7","type":"function","z":"5ed8f0b3.34a62","name":"","func":"var msg2={};\n\n\n//time=msg.now; \np = msg.payload;\ntemp1=p.temperature[0];\ntemp2=p.temperature[1];\n\nmsg2.topic=(\"INSERT INTO temp_table (temp1, temp2) VALUES (\"+ temp1 + \",\" + temp2.toFixed(2)+ \")\");\nreturn msg2;\n","outputs":1,"noerr":0,"x":1306.5,"y":429,"wires":[["6e58cbd8.788644","5159e02c.2597a"]]},{"id":"5159e02c.2597a","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1480,"y":364,"wires":[]},{"id":"9936d9a0.efcbe8","type":"mqtt-broker","z":"","name":"","broker":"192.168.201.33","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65567ae.74e2784","type":"ui_group","z":"","name":"ESP","tab":"170a236a.bc605d","order":1,"disp":false,"width":"6","collapse":false},{"id":"9f27a7a5.d50918","type":"ui_group","z":"","name":"Temperaturas","tab":"170a236a.bc605d","order":2,"disp":true,"width":"12","collapse":false},{"id":"ade1a905.8b59c8","type":"ui_group","z":"","name":"Humidade","tab":"170a236a.bc605d","order":3,"disp":true,"width":"12","collapse":false},{"id":"af2c2e72.8c39e","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"laumecdb","tz":""},{"id":"170a236a.bc605d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]