FLOWS NODERED/flows_2019_08_27_2.json
[{"id":"5ed8f0b3.34a62","type":"tab","label":"MAIN","disabled":false,"info":""},{"id":"9c0f0d4b.834c5","type":"tab","label":"DATA HISTORY","disabled":false,"info":""},{"id":"9936d9a0.efcbe8","type":"mqtt-broker","z":"","name":"","broker":"192.168.201.33","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd9ce8a2.4ff108","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"170a236a.bc605d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4b929872.294b38","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"65567ae.74e2784","type":"ui_group","z":"","name":"ESP","tab":"170a236a.bc605d","order":1,"disp":false,"width":"6","collapse":false},{"id":"abfd547d.b421d8","type":"ui_tab","z":"","name":"DATA HISTORY","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"91329079.a4b81","type":"ui_spacer","name":"spacer","group":"65567ae.74e2784","order":3,"width":1,"height":1},{"id":"9f27a7a5.d50918","type":"ui_group","z":"","name":"Dados","tab":"170a236a.bc605d","order":2,"disp":false,"width":"20","collapse":false},{"id":"16204fb4.68152","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"efcd8f77.7bd43","type":"ui_group","z":"","name":"SETTINGS","tab":"abfd547d.b421d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"30fc5f6.c1e42a","type":"ui_spacer","name":"spacer","group":"efcd8f77.7bd43","order":1,"width":1,"height":1},{"id":"214e559b.f7849a","type":"ui_group","name":"Group 1","tab":"16204fb4.68152","order":1,"disp":true,"width":6},{"id":"4d419568.05222c","type":"ui_spacer","name":"spacer","group":"214e559b.f7849a","order":1,"width":1,"height":1},{"id":"af2c2e72.8c39e","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"laumecdb","tz":""},{"id":"524c7f3f.f49d8","type":"ui_group","z":"","name":"Thermostat demo","tab":"cfb5deac.0a06","order":2,"disp":true,"width":"6"},{"id":"c8153179.719c9","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"cfb5deac.0a06","type":"ui_tab","z":"","name":"Test stuff","icon":"dashboard"},{"id":"df184fb1.afcae","type":"ui_spacer","name":"spacer","group":"65567ae.74e2784","order":5,"width":"2","height":"1"},{"id":"d23e338.fdc98d","type":"ui_group","z":"","name":"GRAPH","tab":"abfd547d.b421d8","order":2,"disp":true,"width":"20","collapse":true},{"id":"757325a4.d3897c","type":"mqtt in","z":"5ed8f0b3.34a62","name":"","topic":"v1/devices/me/telemetry","qos":"2","datatype":"auto","broker":"9936d9a0.efcbe8","x":149,"y":405,"wires":[["efc8e92d.1cfc78"]]},{"id":"efc8e92d.1cfc78","type":"json","z":"5ed8f0b3.34a62","name":"","property":"payload","action":"obj","pretty":false,"x":417,"y":405,"wires":[["ea7863a4.83c51"]]},{"id":"ea7863a4.83c51","type":"function","z":"5ed8f0b3.34a62","name":"RAW DATA","func":"var msg1={};\nvar msg2={};\np = msg.payload;\nnode.log(typeof p);\nmsg.payload=p.data.db;\nmsg1.payload = p.esp;\nmsg2.payload = p.data;\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":627.5,"y":403,"wires":[["37fa4e17.46c7f2"],["7d14c045.5f69e"],["31cdbe28.18bfb2","f3acaadd.abc498","d2049f17.d32e8"]]},{"id":"37fa4e17.46c7f2","type":"ui_gauge","z":"5ed8f0b3.34a62","name":"","group":"65567ae.74e2784","order":4,"width":0,"height":0,"gtype":"gage","title":"SOUND","label":"dB","format":"{{value}} dB","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":858.5,"y":325,"wires":[]},{"id":"7d14c045.5f69e","type":"ui_text","z":"5ed8f0b3.34a62","group":"65567ae.74e2784","order":1,"width":0,"height":0,"name":"ESP Name","label":"esp name","format":"{{msg.payload}}","layout":"row-spread","x":868.5,"y":360,"wires":[],"inputLabels":["1 :"]},{"id":"31cdbe28.18bfb2","type":"function","z":"5ed8f0b3.34a62","name":"DATA","func":"var temp1={};\nvar temp2={};\nvar humid={};\nvar press={};\nvar db={};\n\np = msg.payload;\nnode.log(typeof p);\ntemp1.payload=p.temperature[0];\ntemp2.payload=p.temperature[1];\nhumid.payload = p.humidity;\npress.payload = p.pressure;\ndb.payload = p.db;\nreturn [temp1,temp2,humid,press,db];\n","outputs":5,"noerr":0,"x":760.5,"y":609,"wires":[["767fddcf.ccf3d4"],["6d811b11.bbdec4"],["981bf775.48d878"],[],[]]},{"id":"b57e919f.4694c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":1,"width":"20","height":"6","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1385.5,"y":579,"wires":[["b1ecbafd.3e7da8"]]},{"id":"eab76c93.5ee8c","type":"ui_chart","z":"5ed8f0b3.34a62","name":"","group":"9f27a7a5.d50918","order":2,"width":"20","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1201,"y":663,"wires":[[]]},{"id":"6e58cbd8.788644","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1790.5,"y":412,"wires":[[]]},{"id":"d3cd913.28fab7","type":"function","z":"5ed8f0b3.34a62","name":"Temperaturas","func":"var msg2={};\nvar date= msg.payload[0] ;\n\n//time=msg.now; \np = msg.payload[1];\ntemp1=p.temperature[0];\ntemp2=p.temperature[1];\n\nmsg2.topic=('INSERT INTO temp_table (Data,temp1,temp2) VALUES (\"'+ date.toString() + '\",' + temp1 + ',' + temp2.toFixed(2)+ ')');\nreturn msg2;\n","outputs":1,"noerr":0,"x":1379.5,"y":412,"wires":[["6e58cbd8.788644"]]},{"id":"d8665e57.c557e","type":"function","z":"5ed8f0b3.34a62","name":"Humidade","func":"var msg3={};\nvar humid;\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\n//time=msg.now; \nq = msg.payload[1];\nhumid = q.humidity;\n\nmsg3.topic=('INSERT INTO humid_table (Data, humid) VALUES (\"'+ date.toString() + '\",' + humid + ')');\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\n\nreturn msg3;\n","outputs":1,"noerr":0,"x":1371,"y":361,"wires":[["a625428f.a2f8"]]},{"id":"da340faf.a8ff5","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1591.5,"y":440,"wires":[[]]},{"id":"59f98731.e4ae68","type":"delay","z":"5ed8f0b3.34a62","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1595,"y":339,"wires":[[]]},{"id":"75bb0300.373b2c","type":"moment","z":"5ed8f0b3.34a62","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":909.5,"y":153,"wires":[["f3acaadd.abc498","d2049f17.d32e8","98f4488.9462bb8"]]},{"id":"fdabce45.a3d7c","type":"inject","z":"5ed8f0b3.34a62","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":672.5,"y":155,"wires":[["75bb0300.373b2c"]]},{"id":"f3acaadd.abc498","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1161.5,"y":358,"wires":[["d8665e57.c557e","486773e1.97a0ac"]]},{"id":"486773e1.97a0ac","type":"function","z":"5ed8f0b3.34a62","name":"Data e Hora","func":"var msg3={};\nvar date= msg.payload[0] ;//new Date();\n//var date= Date.now();\n\nmsg3.topic=(\"INSERT INTO humid_table (Data,humid) VALUES ('\"+ date.toString() +\"',1)\");\n//msg3.topic=(\"INSERT INTO humid_table (Data, humid) VALUES ( STR_TO_DATE(\" + date +\", %T),\" + humid + \")\");\nmsg3.payload = date;\nreturn msg3;\n","outputs":1,"noerr":0,"x":1382,"y":204,"wires":[[]]},{"id":"d2049f17.d32e8","type":"join","z":"5ed8f0b3.34a62","name":"Add Dia Hora","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1158,"y":412,"wires":[["d3cd913.28fab7"]]},{"id":"767fddcf.ccf3d4","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":988.5,"y":581,"wires":[["fd3180f1.2e1b5"]]},{"id":"6d811b11.bbdec4","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":992,"y":623,"wires":[["797d2388.e9345c"]]},{"id":"981bf775.48d878","type":"aggregator","z":"5ed8f0b3.34a62","name":"Media","topic":"","intervalCount":"1","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":997,"y":663,"wires":[["eab76c93.5ee8c"]]},{"id":"a625428f.a2f8","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1793,"y":360,"wires":[[]]},{"id":"124b5264.cd51ee","type":"mysql","z":"5ed8f0b3.34a62","mydb":"af2c2e72.8c39e","name":"laumec_db","x":1030,"y":810,"wires":[["ad6fb2cc.b4964","d6ae8a24.c695e8"]]},{"id":"8910d864.ea3b98","type":"function","z":"5ed8f0b3.34a62","name":"GET","func":"msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\n\nreturn msg;","outputs":1,"noerr":0,"x":669.5,"y":814,"wires":[["124b5264.cd51ee"]]},{"id":"ad6fb2cc.b4964","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1213,"y":808,"wires":[]},{"id":"e6da483f.b43c48","type":"inject","z":"5ed8f0b3.34a62","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":483.5,"y":813,"wires":[["8910d864.ea3b98"]]},{"id":"1c097b58.2511a5","type":"inject","z":"5ed8f0b3.34a62","name":"Limpar Graficos","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1077.5,"y":524,"wires":[["b57e919f.4694c","eab76c93.5ee8c"]]},{"id":"d6ae8a24.c695e8","type":"change","z":"5ed8f0b3.34a62","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Data","fromt":"str","to":"x","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"temp1","fromt":"str","to":"y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1219.5,"y":855,"wires":[["1718cc7b.881294"]]},{"id":"1718cc7b.881294","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1415,"y":856,"wires":[]},{"id":"98f4488.9462bb8","type":"ui_text","z":"5ed8f0b3.34a62","group":"65567ae.74e2784","order":2,"width":"6","height":"2","name":"","label":"","format":"<font size = 5 color = white><i class=\"material-icons\"> access_time </i> {{msg.payload}} ","layout":"col-center","x":1117.5,"y":129,"wires":[]},{"id":"fd3180f1.2e1b5","type":"change","z":"5ed8f0b3.34a62","name":"Temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1169.5,"y":579,"wires":[["b57e919f.4694c"]]},{"id":"797d2388.e9345c","type":"change","z":"5ed8f0b3.34a62","name":"temp2","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temp Ada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1168,"y":624,"wires":[["b57e919f.4694c"]]},{"id":"e7002f01.b4358","type":"mysql","z":"9c0f0d4b.834c5","mydb":"af2c2e72.8c39e","name":"laumec_db","x":663.5,"y":161,"wires":[["50e41455.90ce8c","d356c148.ee2cb"]]},{"id":"9d94df6e.249b8","type":"function","z":"9c0f0d4b.834c5","name":"GET","func":"\nmsg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\n\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":162,"wires":[["e7002f01.b4358","59928b2a.6abae4"]]},{"id":"50e41455.90ce8c","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":853.5,"y":107,"wires":[]},{"id":"59928b2a.6abae4","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":577.5,"y":110,"wires":[]},{"id":"7cc41033.d7cb8","type":"inject","z":"9c0f0d4b.834c5","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":178,"y":160,"wires":[["9d94df6e.249b8"]]},{"id":"d356c148.ee2cb","type":"change","z":"9c0f0d4b.834c5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Data","fromt":"str","to":"x","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"temp1","fromt":"str","to":"y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":886,"y":161,"wires":[["3aee7dc5.5b08e2"]]},{"id":"3aee7dc5.5b08e2","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1109.5,"y":112,"wires":[]},{"id":"9da36a7e.6fb5f8","type":"ui_date_picker","z":"9c0f0d4b.834c5","name":"","label":"IN","group":"efcd8f77.7bd43","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":320.5,"y":531,"wires":[["6e45cfa1.9fb78"]]},{"id":"719a9b44.f298d4","type":"ui_date_picker","z":"9c0f0d4b.834c5","name":"","label":"OUT","group":"efcd8f77.7bd43","order":3,"width":0,"height":0,"passthru":true,"topic":"","x":320.5,"y":573,"wires":[["6e45cfa1.9fb78"]]},{"id":"e74e1161.15e9f","type":"ui_chart","z":"9c0f0d4b.834c5","name":"","group":"d23e338.fdc98d","order":2,"width":"20","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1281,"y":433,"wires":[[]]},{"id":"add4ddbd.351ed","type":"ui_chart","z":"9c0f0d4b.834c5","name":"","group":"d23e338.fdc98d","order":1,"width":"20","height":"6","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1287.5,"y":476,"wires":[[]]},{"id":"94031fc3.a5737","type":"function","z":"9c0f0d4b.834c5","name":"GET","func":"\n//msg.topic=(\"SELECT Data, temp1 FROM temp_table LIMIT 5, 10\");\nI=msg.payload[0]\nO=msg.payload[1]\n\nmsg.topic=('SELECT temp1,temp2 from temp_table WHERE Data >=\"'+ I + '\"');\n\n//msg.topic=('SELECT * from temp_table WHERE Data >=\"'+ I + '\"');\n\n//msg.topic=('SELECT * from temp_table WHERE Data BETWEEN \"'+ I + '\" AND \"' + O + '\"');\n\nreturn msg;","outputs":1,"noerr":0,"x":734,"y":526,"wires":[["142b9519.d3a63b","6de0f39.34dd40c"]]},{"id":"77106bc0.f3eec4","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1113,"y":525,"wires":[]},{"id":"142b9519.d3a63b","type":"mysql","z":"9c0f0d4b.834c5","mydb":"af2c2e72.8c39e","name":"laumec_db","x":903,"y":525,"wires":[["77106bc0.f3eec4","fa258584.ea6de8"]]},{"id":"6e45cfa1.9fb78","type":"join","z":"9c0f0d4b.834c5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":530.5,"y":532,"wires":[["6fab059c.94652c","94031fc3.a5737"]]},{"id":"6fab059c.94652c","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":736,"y":608,"wires":[]},{"id":"8a8380b3.ba657","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":664,"y":669,"wires":[]},{"id":"4385796c.e56bb8","type":"ui_button","z":"9c0f0d4b.834c5","name":"","group":"efcd8f77.7bd43","order":4,"width":0,"height":0,"passthru":false,"label":"MOSTRAR","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"true","payloadType":"bool","topic":"","x":101,"y":662,"wires":[["bb3c1cd8.c77d6"]]},{"id":"bb3c1cd8.c77d6","type":"change","z":"9c0f0d4b.834c5","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":287.5,"y":661,"wires":[["8a8380b3.ba657","6e45cfa1.9fb78"]]},{"id":"cfd9eb9f.bcff48","type":"inject","z":"9c0f0d4b.834c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132.5,"y":548,"wires":[["9da36a7e.6fb5f8","719a9b44.f298d4"]]},{"id":"3d00dcf1.8ca6b4","type":"ui_slider","z":"5ed8f0b3.34a62","name":"","label":"","tooltip":"","group":"65567ae.74e2784","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":626,"y":973,"wires":[["971b943b.937b08"]]},{"id":"971b943b.937b08","type":"ui_numeric","z":"5ed8f0b3.34a62","name":"","label":"LIMIT","tooltip":"","group":"65567ae.74e2784","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":824,"y":974,"wires":[["3d00dcf1.8ca6b4"]]},{"id":"23134f12.ed929","type":"ui_dropdown","z":"5ed8f0b3.34a62","name":"","label":"ESP","tooltip":"Numero da ilha a mostrar.","place":"Escolher Ilha","group":"efcd8f77.7bd43","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Esp1","value":"1","type":"str"}],"payload":"","topic":"esp","x":447,"y":977,"wires":[[]]},{"id":"6de0f39.34dd40c","type":"debug","z":"9c0f0d4b.834c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":985,"y":626,"wires":[]},{"id":"b1ecbafd.3e7da8","type":"debug","z":"5ed8f0b3.34a62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1542,"y":592,"wires":[]},{"id":"c300d1f2.8f627","type":"inject","z":"9c0f0d4b.834c5","name":"DADOS ORIGINAIS","topic":"","payload":"[{\"series\":[\"Temp\",\"Temp Ada\"],\"data\":[[{\"x\":1566899040001,\"y\":24.33666666666667},{\"x\":1566899100001,\"y\":24.46029411764706},{\"x\":1566899160000,\"y\":24.5},{\"x\":1566899220001,\"y\":24.570588235294117},{\"x\":1566899280002,\"y\":24.596},{\"x\":1566899340003,\"y\":24.614545454545453},{\"x\":1566899400001,\"y\":24.66},{\"x\":1566899460003,\"y\":24.68198198198198},{\"x\":1566899520000,\"y\":24.706521739130434},{\"x\":1566899580000,\"y\":24.727027027027024},{\"x\":1566899640002,\"y\":24.74042553191489},{\"x\":1566899700002,\"y\":24.775675675675675},{\"x\":1566899760003,\"y\":24.78828828828829},{\"x\":1566899820003,\"y\":24.803636363636365},{\"x\":1566899880004,\"y\":24.7972972972973},{\"x\":1566899940005,\"y\":24.81981981981982},{\"x\":1566900000005,\"y\":24.786363636363635},{\"x\":1566900060006,\"y\":24.77027027027027},{\"x\":1566900120006,\"y\":24.78181818181818},{\"x\":1566900180007,\"y\":24.795495495495498},{\"x\":1566900240008,\"y\":24.838738738738737},{\"x\":1566900300008,\"y\":24.867272727272727},{\"x\":1566900360001,\"y\":24.9},{\"x\":1566900420001,\"y\":24.895495495495496},{\"x\":1566900480002,\"y\":24.900000000000002},{\"x\":1566900540002,\"y\":24.89189189189189},{\"x\":1566900600001,\"y\":24.96},{\"x\":1566900660000,\"y\":24.900000000000002},{\"x\":1566900720000,\"y\":24.986486486486488},{\"x\":1566900780001,\"y\":25.007272727272728},{\"x\":1566900840001,\"y\":25.03153153153153},{\"x\":1566900900001,\"y\":25.059459459459458},{\"x\":1566900960002,\"y\":25.061818181818182},{\"x\":1566901020001,\"y\":25.052252252252252},{\"x\":1566901080002,\"y\":25.063063063063062},{\"x\":1566901140002,\"y\":25.063636363636363},{\"x\":1566901200002,\"y\":25.065765765765768},{\"x\":1566901260002,\"y\":25.034234234234237},{\"x\":1566901320002,\"y\":24.945454545454545},{\"x\":1566901380002,\"y\":24.9027027027027},{\"x\":1566901440001,\"y\":24.915315315315315},{\"x\":1566901500002,\"y\":24.95818181818182},{\"x\":1566901560001,\"y\":24.982882882882883},{\"x\":1566901620004,\"y\":24.994594594594595},{\"x\":1566901680004,\"y\":24.971818181818183},{\"x\":1566901740004,\"y\":24.978378378378377},{\"x\":1566901800005,\"y\":24.964545454545455},{\"x\":1566901860004,\"y\":24.991891891891893},{\"x\":1566901920005,\"y\":25.027027027027028},{\"x\":1566901980005,\"y\":25.045454545454547},{\"x\":1566902040006,\"y\":24.994594594594595},{\"x\":1566902100007,\"y\":25.043243243243246},{\"x\":1566902160008,\"y\":25.08909090909091},{\"x\":1566902220009,\"y\":25.094594594594593},{\"x\":1566902280009,\"y\":25.092792792792796},{\"x\":1566902340009,\"y\":25.10909090909091},{\"x\":1566902400009,\"y\":25.145045045045045},{\"x\":1566902460009,\"y\":25.174774774774775},{\"x\":1566902520010,\"y\":25.117272727272727},{\"x\":1566902580010,\"y\":25.03153153153153},{\"x\":1566902640010,\"y\":25.005405405405405},{\"x\":1566902700010,\"y\":24.993636363636366},{\"x\":1566902760010,\"y\":24.985585585585586},{\"x\":1566902820010,\"y\":24.974545454545453},{\"x\":1566902880010,\"y\":24.942342342342343},{\"x\":1566902940010,\"y\":24.962162162162162},{\"x\":1566903000010,\"y\":24.99909090909091},{\"x\":1566903060011,\"y\":24.982882882882883},{\"x\":1566903120012,\"y\":24.960360360360358},{\"x\":1566903180012,\"y\":24.932727272727274},{\"x\":1566903240011,\"y\":24.900000000000002},{\"x\":1566903300012,\"y\":24.928828828828827},{\"x\":1566903360012,\"y\":24.937272727272727},{\"x\":1566903420013,\"y\":24.958558558558558},{\"x\":1566903480013,\"y\":24.97927927927928},{\"x\":1566903540013,\"y\":24.990000000000002},{\"x\":1566903600013,\"y\":24.96126126126126},{\"x\":1566903660013,\"y\":24.922522522522524},{\"x\":1566903720014,\"y\":24.964545454545455},{\"x\":1566903780014,\"y\":24.98918918918919},{\"x\":1566903840014,\"y\":24.99279279279279},{\"x\":1566903900014,\"y\":25.05909090909091},{\"x\":1566903960013,\"y\":25.10630630630631},{\"x\":1566904020014,\"y\":25.171818181818182},{\"x\":1566904080014,\"y\":25.191891891891892},{\"x\":1566904140013,\"y\":25.216216216216218},{\"x\":1566904200014,\"y\":25.274545454545457},{\"x\":1566904260015,\"y\":25.281981981981982},{\"x\":1566904320015,\"y\":25.32882882882883},{\"x\":1566904380015,\"y\":25.37818181818182},{\"x\":1566904440015,\"y\":25.392792792792793},{\"x\":1566904500019,\"y\":25.418018018018017},{\"x\":1566904560019,\"y\":25.428181818181816},{\"x\":1566904620019,\"y\":25.44324324324324},{\"x\":1566904680019,\"y\":25.438181818181818},{\"x\":1566904740018,\"y\":25.431531531531533},{\"x\":1566904800018,\"y\":25.46846846846847},{\"x\":1566904860019,\"y\":25.478181818181817},{\"x\":1566904920019,\"y\":25.481081081081083},{\"x\":1566904980019,\"y\":25.509999999999998},{\"x\":1566905040019,\"y\":25.54054054054054},{\"x\":1566905100020,\"y\":25.566666666666666},{\"x\":1566905160020,\"y\":25.576363636363638},{\"x\":1566905220020,\"y\":25.605405405405406},{\"x\":1566905280020,\"y\":25.629729729729732},{\"x\":1566905340020,\"y\":25.62909090909091},{\"x\":1566905400020,\"y\":25.609009009009007},{\"x\":1566905460020,\"y\":25.64181818181818},{\"x\":1566905520020,\"y\":25.654054054054054},{\"x\":1566905580019,\"y\":25.607207207207207},{\"x\":1566905640020,\"y\":25.571818181818184},{\"x\":1566905700020,\"y\":25.527927927927927},{\"x\":1566905760020,\"y\":25.491891891891893},{\"x\":1566905820020,\"y\":25.491818181818182},{\"x\":1566905880020,\"y\":25.49099099099099},{\"x\":1566905940020,\"y\":25.554545454545455},{\"x\":1566906000020,\"y\":25.572972972972973},{\"x\":1566906060020,\"y\":25.63963963963964},{\"x\":1566906120020,\"y\":25.673636363636362},{\"x\":1566906180021,\"y\":25.672072072072073},{\"x\":1566906240021,\"y\":25.643243243243244},{\"x\":1566906300021,\"y\":25.64818181818182},{\"x\":1566906360021,\"y\":25.636036036036035},{\"x\":1566906420021,\"y\":25.60090909090909},{\"x\":1566906480020,\"y\":25.59099099099099},{\"x\":1566906540021,\"y\":25.59099099099099},{\"x\":1566906600021,\"y\":25.58909090909091},{\"x\":1566906660021,\"y\":25.57207207207207},{\"x\":1566906720025,\"y\":25.59099099099099},{\"x\":1566906780025,\"y\":25.616363636363637},{\"x\":1566906840025,\"y\":25.63063063063063},{\"x\":1566906900026,\"y\":25.675454545454546},{\"x\":1566906960025,\"y\":25.633333333333336},{\"x\":1566907020026,\"y\":25.676576576576576},{\"x\":1566907080026,\"y\":25.655454545454546},{\"x\":1566907140026,\"y\":25.620720720720723},{\"x\":1566907200027,\"y\":25.619090909090907},{\"x\":1566907260027,\"y\":25.604504504504504},{\"x\":1566907320027,\"y\":25.626126126126128},{\"x\":1566907380027,\"y\":25.61},{\"x\":1566907440027,\"y\":25.60810810810811},{\"x\":1566907500027,\"y\":25.614414414414416},{\"x\":1566907560028,\"y\":25.605454545454545},{\"x\":1566907620028,\"y\":25.627027027027026},{\"x\":1566907680029,\"y\":25.674545454545452},{\"x\":1566907740029,\"y\":25.688288288288287},{\"x\":1566907800030,\"y\":25.670270270270272},{\"x\":1566907860030,\"y\":25.653636363636366},{\"x\":1566907920029,\"y\":25.66036036036036},{\"x\":1566907980030,\"y\":25.67297297297297},{\"x\":1566908040030,\"y\":25.7},{\"x\":1566908100030,\"y\":25.724324324324325},{\"x\":1566908160030,\"y\":25.722727272727273},{\"x\":1566908220030,\"y\":25.691891891891892},{\"x\":1566908280030,\"y\":25.674774774774775},{\"x\":1566908340031,\"y\":25.63909090909091},{\"x\":1566908400031,\"y\":25.654054054054054},{\"x\":1566908460030,\"y\":25.676576576576576},{\"x\":1566908520031,\"y\":25.669090909090908},{\"x\":1566908580031,\"y\":25.701801801801803},{\"x\":1566908640031,\"y\":25.751818181818184},{\"x\":1566908700031,\"y\":25.83063063063063},{\"x\":1566908760031,\"y\":25.852252252252253},{\"x\":1566908820031,\"y\":25.825454545454544},{\"x\":1566908880032,\"y\":25.784684684684684},{\"x\":1566908940032,\"y\":25.775454545454547},{\"x\":1566909000032,\"y\":25.77027027027027},{\"x\":1566909060033,\"y\":25.754954954954957},{\"x\":1566909120034,\"y\":25.76181818181818},{\"x\":1566909180034,\"y\":25.754054054054055},{\"x\":1566909240034,\"y\":25.74144144144144},{\"x\":1566909300035,\"y\":25.758181818181818},{\"x\":1566909360036,\"y\":25.784684684684684},{\"x\":1566909420035,\"y\":25.76727272727273},{\"x\":1566909480036,\"y\":25.806306306306308},{\"x\":1566909540036,\"y\":25.787387387387387},{\"x\":1566909600036,\"y\":25.825454545454548},{\"x\":1566909660036,\"y\":25.829729729729728},{\"x\":1566909720036,\"y\":25.831531531531528},{\"x\":1566909780036,\"y\":25.823636363636364},{\"x\":1566909840037,\"y\":25.82072072072072},{\"x\":1566909900037,\"y\":25.833636363636362},{\"x\":1566909960037,\"y\":25.836036036036035},{\"x\":1566910020038,\"y\":25.845945945945946},{\"x\":1566910080038,\"y\":25.853636363636365},{\"x\":1566910140039,\"y\":25.82072072072072},{\"x\":1566910200039,\"y\":25.800900900900903},{\"x\":1566910260039,\"y\":25.797272727272727},{\"x\":1566910320038,\"y\":25.76846846846847},{\"x\":1566910380039,\"y\":25.817272727272726},{\"x\":1566910440040,\"y\":25.838738738738737},{\"x\":1566910500041,\"y\":25.849549549549547},{\"x\":1566910560041,\"y\":25.862727272727273},{\"x\":1566910620041,\"y\":25.879279279279277},{\"x\":1566910680042,\"y\":25.905454545454546},{\"x\":1566910740042,\"y\":25.899099099099097},{\"x\":1566910800041,\"y\":25.890990990990993},{\"x\":1566910860042,\"y\":25.897272727272725},{\"x\":1566910920042,\"y\":25.914414414414413},{\"x\":1566910980042,\"y\":25.93873873873874},{\"x\":1566911040042,\"y\":25.926363636363636},{\"x\":1566911100041,\"y\":25.936036036036036},{\"x\":1566911160042,\"y\":25.94864864864865},{\"x\":1566911220042,\"y\":25.947272727272725},{\"x\":1566911280042,\"y\":25.96126126126126},{\"x\":1566911340042,\"y\":25.98918918918919},{\"x\":1566911400043,\"y\":25.98818181818182},{\"x\":1566911460043,\"y\":26.00900900900901},{\"x\":1566911520043,\"y\":26.004901960784313},{\"x\":1566911580044,\"y\":26.008108108108107},{\"x\":1566911640044,\"y\":25.9990990990991},{\"x\":1566911700044,\"y\":26.004545454545454},{\"x\":1566911760045,\"y\":26.021621621621623},{\"x\":1566911820046,\"y\":26.03153153153153},{\"x\":1566911880047,\"y\":26.04},{\"x\":1566911940046,\"y\":26.014414414414414},{\"x\":1566912000047,\"y\":26.01909090909091},{\"x\":1566912060047,\"y\":26.024324324324326},{\"x\":1566912120046,\"y\":26.030630630630633},{\"x\":1566912180047,\"y\":26.01909090909091},{\"x\":1566912240047,\"y\":26.013513513513512},{\"x\":1566912300048,\"y\":26.01621621621622},{\"x\":1566912360048,\"y\":26.013636363636362},{\"x\":1566912420048,\"y\":26.02252252252252},{\"x\":1566912480049,\"y\":26.01181818181818},{\"x\":1566912540049,\"y\":26.024324324324326},{\"x\":1566912600049,\"y\":26.014414414414414},{\"x\":1566912660049,\"y\":26.023636363636363},{\"x\":1566912720049,\"y\":25.993693693693697},{\"x\":1566912780049,\"y\":26.014414414414414},{\"x\":1566912840049,\"y\":26.023636363636363},{\"x\":1566912900049,\"y\":26.027927927927927},{\"x\":1566912960050,\"y\":26.035135135135135},{\"x\":1566913020050,\"y\":26.03181818181818},{\"x\":1566913080051,\"y\":26.027927927927927},{\"x\":1566913140052,\"y\":26.05909090909091},{\"x\":1566913200052,\"y\":26.042342342342344},{\"x\":1566913260053,\"y\":26.035135135135135},{\"x\":1566913320053,\"y\":26.021818181818183},{\"x\":1566913380053,\"y\":26.057657657657657},{\"x\":1566913440053,\"y\":26.064864864864866},{\"x\":1566913500053,\"y\":26.083636363636366},{\"x\":1566913560054,\"y\":26.077477477477476},{\"x\":1566913620054,\"y\":26.076363636363638},{\"x\":1566913680055,\"y\":26.08918918918919},{\"x\":1566913740055,\"y\":26.080180180180182},{\"x\":1566913800055,\"y\":26.093636363636364},{\"x\":1566913860054,\"y\":26.08918918918919},{\"x\":1566913920054,\"y\":26.08828828828829},{\"x\":1566913980055,\"y\":26.08909090909091},{\"x\":1566914040055,\"y\":26.105405405405406},{\"x\":1566914100056,\"y\":26.114414414414416},{\"x\":1566914160057,\"y\":26.129090909090912},{\"x\":1566914220057,\"y\":26.131531531531532},{\"x\":1566914280057,\"y\":26.12727272727273},{\"x\":1566914340057,\"y\":26.134234234234235},{\"x\":1566914400057,\"y\":26.145045045045045},{\"x\":1566914460058,\"y\":26.154545454545456},{\"x\":1566914520059,\"y\":26.182882882882886},{\"x\":1566914580059,\"y\":26.213513513513515},{\"x\":1566914640059,\"y\":26.23090909090909},{\"x\":1566914700059,\"y\":26.253153153153153},{\"x\":1566914760059,\"y\":26.246363636363636},{\"x\":1566914820060,\"y\":26.236036036036033},{\"x\":1566914880060,\"y\":26.233333333333334},{\"x\":1566914940060,\"y\":26.240000000000002},{\"x\":1566915000060,\"y\":26.25045045045045},{\"x\":1566915060060,\"y\":26.262727272727272},{\"x\":1566915120060,\"y\":26.24144144144144},{\"x\":1566915180059,\"y\":26.25855855855856},{\"x\":1566915240059,\"y\":26.254545454545454},{\"x\":1566915300060,\"y\":26.256756756756758},{\"x\":1566915360061,\"y\":26.23693693693694},{\"x\":1566915420062,\"y\":26.19909090909091},{\"x\":1566915480062,\"y\":26.20900900900901},{\"x\":1566915540063,\"y\":26.278181818181817},{\"x\":1566915600063,\"y\":26.289189189189187},{\"x\":1566915660064,\"y\":26.291891891891893},{\"x\":1566915720065,\"y\":26.262727272727272},{\"x\":1566915780066,\"y\":26.28828828828829},{\"x\":1566915840065,\"y\":26.296396396396396},{\"x\":1566915900066,\"y\":26.271818181818183},{\"x\":1566915960065,\"y\":26.26936936936937},{\"x\":1566916020066,\"y\":26.246363636363636},{\"x\":1566916080066,\"y\":26.212612612612613},{\"x\":1566916140066,\"y\":26.141441441441444},{\"x\":1566916200067,\"y\":26.153636363636366},{\"x\":1566916260067,\"y\":26.156756756756756},{\"x\":1566916320067,\"y\":26.13783783783784},{\"x\":1566916380067,\"y\":26.14909090909091},{\"x\":1566916440067,\"y\":26.140540540540538},{\"x\":1566916500067,\"y\":26.14090909090909},{\"x\":1566916560067,\"y\":26.118918918918922},{\"x\":1566916620066,\"y\":26.117117117117118},{\"x\":1566916680067,\"y\":26.112727272727273},{\"x\":1566916740067,\"y\":26.113513513513514},{\"x\":1566916800067,\"y\":26.10630630630631},{\"x\":1566916860068,\"y\":26.10090909090909},{\"x\":1566916920068,\"y\":26.101801801801802},{\"x\":1566916980068,\"y\":26.083636363636366},{\"x\":1566917040068,\"y\":26.05675675675676},{\"x\":1566917100068,\"y\":26.01801801801802},{\"x\":1566917160068,\"y\":26.027272727272727},{\"x\":1566917220068,\"y\":26.021621621621623},{\"x\":1566917280069,\"y\":26.02252252252252},{\"x\":1566917340069,\"y\":26.036363636363635},{\"x\":1566917400069,\"y\":26.036036036036037},{\"x\":1566917460069,\"y\":26.045454545454547},{\"x\":1566917520069,\"y\":26.044144144144145},{\"x\":1566917580069,\"y\":26.035135135135135},{\"x\":1566917640069,\"y\":26.06},{\"x\":1566917700069,\"y\":26.063963963963964},{\"x\":1566917760069,\"y\":26.078378378378382},{\"x\":1566917820069,\"y\":26.087272727272726},{\"x\":1566917880069,\"y\":26.073873873873875},{\"x\":1566917940069,\"y\":26.067272727272726},{\"x\":1566918000070,\"y\":26.084684684684685},{\"x\":1566918060070,\"y\":26.080180180180182},{\"x\":1566918120069,\"y\":26.05818181818182},{\"x\":1566918180070,\"y\":26.083783783783787},{\"x\":1566918240070,\"y\":26.08918918918919},{\"x\":1566918300069,\"y\":26.080909090909092},{\"x\":1566918360070,\"y\":26.081981981981983},{\"x\":1566918420070,\"y\":26.05909090909091},{\"x\":1566918480070,\"y\":26.06756756756757},{\"x\":1566918540070,\"y\":26.074774774774777},{\"x\":1566918600069,\"y\":26.068181818181817},{\"x\":1566918660070,\"y\":26.059459459459458},{\"x\":1566918720070,\"y\":26.064864864864866},{\"x\":1566918780071,\"y\":26.05636363636364},{\"x\":1566918840071,\"y\":26.073873873873875},{\"x\":1566918900071,\"y\":26.04},{\"x\":1566918960071,\"y\":26.059459459459458},{\"x\":1566919020071,\"y\":26.04954954954955},{\"x\":1566919080071,\"y\":26.067272727272726},{\"x\":1566919140073,\"y\":26.07207207207207},{\"x\":1566919200071,\"y\":26.057657657657657},{\"x\":1566919260071,\"y\":26.068181818181817},{\"x\":1566919320071,\"y\":26.054054054054053},{\"x\":1566919380072,\"y\":26.036036036036037},{\"x\":1566919440072,\"y\":26.05727272727273},{\"x\":1566919500073,\"y\":26.028828828828832},{\"x\":1566919560073,\"y\":26.035454545454545},{\"x\":1566919620074,\"y\":26.015315315315316},{\"x\":1566919680073,\"y\":26.027027027027028},{\"x\":1566919740074,\"y\":26.006363636363634},{\"x\":1566919800074,\"y\":26.00630630630631},{\"x\":1566919860075,\"y\":26.005405405405405},{\"x\":1566919920075,\"y\":25.98181818181818},{\"x\":1566919980075,\"y\":25.972072072072073},{\"x\":1566920040074,\"y\":26.003636363636364},{\"x\":1566920100075,\"y\":25.963963963963963},{\"x\":1566920160075,\"y\":25.962162162162162},{\"x\":1566920220074,\"y\":25.964545454545455},{\"x\":1566920280075,\"y\":25.95225225225225},{\"x\":1566920340076,\"y\":25.96666666666667},{\"x\":1566920400077,\"y\":25.954545454545453},{\"x\":1566920460077,\"y\":25.958558558558558},{\"x\":1566920520077,\"y\":25.945945945945947},{\"x\":1566920580078,\"y\":25.95181818181818},{\"x\":1566920640078,\"y\":25.958558558558558},{\"x\":1566920700077,\"y\":25.931531531531533},{\"x\":1566920760077,\"y\":25.928181818181816},{\"x\":1566920820078,\"y\":25.940540540540542},{\"x\":1566920880077,\"y\":25.967567567567567},{\"x\":1566920940078,\"y\":25.96636363636364},{\"x\":1566921000078,\"y\":25.972972972972972},{\"x\":1566921060079,\"y\":25.978181818181817},{\"x\":1566921120079,\"y\":25.98378378378378},{\"x\":1566921180080,\"y\":25.97117117117117},{\"x\":1566921240080,\"y\":25.995454545454546},{\"x\":1566921300079,\"y\":25.978378378378377},{\"x\":1566921360080,\"y\":25.98018018018018},{\"x\":1566921420080,\"y\":25.997272727272726},{\"x\":1566921480080,\"y\":26.012612612612614},{\"x\":1566921540080,\"y\":25.996396396396396},{\"x\":1566921600080,\"y\":26.004545454545454},{\"x\":1566921660080,\"y\":25.996396396396396},{\"x\":1566921720081,\"y\":26.008181818181818},{\"x\":1566921780081,\"y\":26.004504504504503},{\"x\":1566921840082,\"y\":26.015315315315316},{\"x\":1566921900082,\"y\":26.023636363636363},{\"x\":1566921960082,\"y\":26.01801801801802},{\"x\":1566922020082,\"y\":26.012612612612614},{\"x\":1566922080083,\"y\":26.03181818181818},{\"x\":1566922140083,\"y\":26.008108108108107},{\"x\":1566922200083,\"y\":26.033636363636365},{\"x\":1566922260082,\"y\":26.027927927927927},{\"x\":1566922320083,\"y\":26.051351351351354},{\"x\":1566922380082,\"y\":26.074545454545458},{\"x\":1566922440083,\"y\":26.05855855855856},{\"x\":1566922500083,\"y\":26.068468468468467},{\"x\":1566922560084,\"y\":26.072727272727274},{\"x\":1566922620084,\"y\":26.069369369369372},{\"x\":1566922680085,\"y\":26.065765765765768},{\"x\":1566922740084,\"y\":26.055454545454545},{\"x\":1566922800085,\"y\":26.04954954954955},{\"x\":1566922860086,\"y\":26.082727272727272},{\"x\":1566922920086,\"y\":26.072972972972973},{\"x\":1566922980086,\"y\":26.07927927927928},{\"x\":1566923040086,\"y\":26.10818181818182},{\"x\":1566923100086,\"y\":26.156756756756756},{\"x\":1566923160086,\"y\":26.216216216216218},{\"x\":1566923220087,\"y\":26.305454545454545},{\"x\":1566923280088,\"y\":26.334234234234234},{\"x\":1566923340088,\"y\":26.346363636363634},{\"x\":1566923400088,\"y\":26.381981981981983},{\"x\":1566923460088,\"y\":26.390090090090087},{\"x\":1566923520088,\"y\":26.39},{\"x\":1566923580089,\"y\":26.388288288288287},{\"x\":1566923640089,\"y\":26.40090909090909},{\"x\":1566923700088,\"y\":26.410091743119263},{\"x\":1566923760088,\"y\":26.39272727272727},{\"x\":1566923820089,\"y\":26.383783783783784},{\"x\":1566923880089,\"y\":26.384545454545453},{\"x\":1566923940089,\"y\":26.39369369369369},{\"x\":1566924000088,\"y\":26.394594594594594},{\"x\":1566924060089,\"y\":26.39272727272727},{\"x\":1566924120090,\"y\":26.398198198198198},{\"x\":1566924180092,\"y\":26.396396396396398},{\"x\":1566924240091,\"y\":26.413636363636364},{\"x\":1566924300092,\"y\":26.425225225225223},{\"x\":1566924360092,\"y\":26.406542056074766},{\"x\":1566924420092,\"y\":26.413274336283184},{\"x\":1566924480092,\"y\":26.416363636363634},{\"x\":1566924540093,\"y\":26.440540540540542},{\"x\":1566924625967,\"y\":26.43032258064516},{\"x\":1566924685967,\"y\":26.445945945945947},{\"x\":1566924745967,\"y\":26.46636363636364},{\"x\":1566924805968,\"y\":26.473873873873874},{\"x\":1566924865968,\"y\":26.49909090909091}],[{\"x\":1566899040002,\"y\":20.779857333333332},{\"x\":1566899100002,\"y\":20.824630882352942},{\"x\":1566899160002,\"y\":20.829440625},{\"x\":1566899220002,\"y\":20.876856470588237},{\"x\":1566899280000,\"y\":20.9077892},{\"x\":1566899340000,\"y\":20.94902436363636},{\"x\":1566899400000,\"y\":21.018694},{\"x\":1566899460001,\"y\":21.019198198198197},{\"x\":1566899520001,\"y\":21.050387391304348},{\"x\":1566899580002,\"y\":21.08487108108108},{\"x\":1566899640003,\"y\":21.134421489361703},{\"x\":1566899700003,\"y\":21.150543423423425},{\"x\":1566899760003,\"y\":21.15391153153153},{\"x\":1566899820005,\"y\":21.190313999999997},{\"x\":1566899880006,\"y\":21.18758936936937},{\"x\":1566899940007,\"y\":21.177486396396393},{\"x\":1566900000007,\"y\":21.181818363636364},{\"x\":1566900060008,\"y\":21.158963153153152},{\"x\":1566900120008,\"y\":21.203908181818182},{\"x\":1566900180008,\"y\":21.175802162162164},{\"x\":1566900240009,\"y\":21.18253801801802},{\"x\":1566900300009,\"y\":21.225997727272727},{\"x\":1566900360000,\"y\":21.261681666666664},{\"x\":1566900420000,\"y\":21.26673333333333},{\"x\":1566900480002,\"y\":21.230528333333332},{\"x\":1566900540004,\"y\":21.26504981981982},{\"x\":1566900600001,\"y\":21.336447999999997},{\"x\":1566900660000,\"y\":21.323986666666666},{\"x\":1566900720001,\"y\":21.31388342342342},{\"x\":1566900780002,\"y\":21.31605727272727},{\"x\":1566900840002,\"y\":21.340826306306305},{\"x\":1566900900002,\"y\":21.36103342342342},{\"x\":1566900960003,\"y\":21.34834309090909},{\"x\":1566901020004,\"y\":21.359349819819816},{\"x\":1566901080004,\"y\":21.371137477477475},{\"x\":1566901140004,\"y\":21.36703445454545},{\"x\":1566901200005,\"y\":21.342509999999997},{\"x\":1566901260006,\"y\":21.340826396396395},{\"x\":1566901320007,\"y\":21.33984690909091},{\"x\":1566901380007,\"y\":21.33072279279279},{\"x\":1566901440007,\"y\":21.335774324324323},{\"x\":1566901500008,\"y\":21.32285390909091},{\"x\":1566901560009,\"y\":21.349245945945945},{\"x\":1566901620009,\"y\":21.362717837837838},{\"x\":1566901680009,\"y\":21.339846636363635},{\"x\":1566901740009,\"y\":21.337458468468466},{\"x\":1566901800013,\"y\":21.357665675675676},{\"x\":1566901860013,\"y\":21.358538454545453},{\"x\":1566901920014,\"y\":21.35934936936937},{\"x\":1566901980014,\"y\":21.367034636363638},{\"x\":1566902040015,\"y\":21.35598198198198},{\"x\":1566902100021,\"y\":21.36440162162162},{\"x\":1566902160021,\"y\":21.389124727272726},{\"x\":1566902220021,\"y\":21.403132072072072},{\"x\":1566902280023,\"y\":21.416603873873875},{\"x\":1566902340024,\"y\":21.41801209090909},{\"x\":1566902400024,\"y\":21.433443063063063},{\"x\":1566902460025,\"y\":21.463753333333333},{\"x\":1566902520025,\"y\":21.42141036363636},{\"x\":1566902580025,\"y\":21.403132252252252},{\"x\":1566902640024,\"y\":21.409867837837837},{\"x\":1566902700025,\"y\":21.414613636363637},{\"x\":1566902760025,\"y\":21.396396396396398},{\"x\":1566902820025,\"y\":21.379556846846842},{\"x\":1566902880025,\"y\":21.37043318181818},{\"x\":1566902940025,\"y\":21.376189459459457},{\"x\":1566903000026,\"y\":21.387426},{\"x\":1566903060026,\"y\":21.382925315315312},{\"x\":1566903120027,\"y\":21.36776936936937},{\"x\":1566903180026,\"y\":21.33135018181818},{\"x\":1566903240027,\"y\":21.362717837837838},{\"x\":1566903300026,\"y\":21.340826576576575},{\"x\":1566903360026,\"y\":21.353440636363633},{\"x\":1566903420027,\"y\":21.37282126126126},{\"x\":1566903480026,\"y\":21.38124099099099},{\"x\":1566903540027,\"y\":21.370433272727272},{\"x\":1566903600026,\"y\":21.38629261261261},{\"x\":1566903660027,\"y\":21.33914261261261},{\"x\":1566903720026,\"y\":21.368734},{\"x\":1566903780027,\"y\":21.362717387387388},{\"x\":1566903840027,\"y\":21.398080810810807},{\"x\":1566903900027,\"y\":21.404418363636363},{\"x\":1566903960027,\"y\":21.458701891891888},{\"x\":1566904020028,\"y\":21.485644504504503},{\"x\":1566904080029,\"y\":21.49107881818182},{\"x\":1566904140029,\"y\":21.542897117117114},{\"x\":1566904200029,\"y\":21.58453509090909},{\"x\":1566904260029,\"y\":21.588362792792793},{\"x\":1566904320030,\"y\":21.615305135135134},{\"x\":1566904380029,\"y\":21.64060972727273},{\"x\":1566904440029,\"y\":21.65571900900901},{\"x\":1566904500030,\"y\":21.67929414414414},{\"x\":1566904560029,\"y\":21.718775},{\"x\":1566904620030,\"y\":21.704553603603603},{\"x\":1566904680030,\"y\":21.711977636363635},{\"x\":1566904740030,\"y\":21.718024774774776},{\"x\":1566904800030,\"y\":21.743283963963965},{\"x\":1566904860031,\"y\":21.749361454545454},{\"x\":1566904920032,\"y\":21.80895837837838},{\"x\":1566904980035,\"y\":21.819062072072075},{\"x\":1566905040035,\"y\":21.81393363636364},{\"x\":1566905100034,\"y\":21.824113963963963},{\"x\":1566905160035,\"y\":21.837723363636364},{\"x\":1566905220035,\"y\":21.888104324324324},{\"x\":1566905280036,\"y\":21.92515108108108},{\"x\":1566905340036,\"y\":21.937980090909093},{\"x\":1566905400035,\"y\":21.93693855855856},{\"x\":1566905460036,\"y\":21.970265272727275},{\"x\":1566905520036,\"y\":21.973985135135134},{\"x\":1566905580036,\"y\":21.98408855855856},{\"x\":1566905640037,\"y\":21.963467909090912},{\"x\":1566905700036,\"y\":21.90662738738739},{\"x\":1566905760036,\"y\":21.90325990990991},{\"x\":1566905820037,\"y\":21.927784},{\"x\":1566905880037,\"y\":21.91167945945946},{\"x\":1566905940037,\"y\":21.951573363636367},{\"x\":1566906000037,\"y\":21.950410090090088},{\"x\":1566906060037,\"y\":22.01439927927928},{\"x\":1566906120037,\"y\":22.068820454545456},{\"x\":1566906180037,\"y\":22.043026486486486},{\"x\":1566906240037,\"y\":22.014399639639638},{\"x\":1566906300037,\"y\":22.038234454545453},{\"x\":1566906360037,\"y\":22.0228190990991},{\"x\":1566906420039,\"y\":22.029738272727272},{\"x\":1566906480038,\"y\":22.017767297297297},{\"x\":1566906540039,\"y\":21.99250846846847},{\"x\":1566906600039,\"y\":22.004250363636366},{\"x\":1566906660039,\"y\":22.00092846846847},{\"x\":1566906720039,\"y\":22.004296126126125},{\"x\":1566906780040,\"y\":21.992355636363637},{\"x\":1566906840040,\"y\":22.029554774774777},{\"x\":1566906900041,\"y\":22.02803909090909},{\"x\":1566906960041,\"y\":22.032922342342342},{\"x\":1566907020042,\"y\":22.054813423423425},{\"x\":1566907080042,\"y\":22.031438090909095},{\"x\":1566907140042,\"y\":22.017767477477477},{\"x\":1566907200042,\"y\":22.0093481981982},{\"x\":1566907260041,\"y\":22.011046999999998},{\"x\":1566907320042,\"y\":22.007663873873877},{\"x\":1566907380042,\"y\":21.980460636363638},{\"x\":1566907440042,\"y\":21.97230135135135},{\"x\":1566907500042,\"y\":22.01945135135135},{\"x\":1566907560042,\"y\":21.99405463636364},{\"x\":1566907620042,\"y\":22.007663783783784},{\"x\":1566907680043,\"y\":22.031437727272728},{\"x\":1566907740043,\"y\":22.048077477477477},{\"x\":1566907800043,\"y\":22.044710090090092},{\"x\":1566907860043,\"y\":22.041632727272727},{\"x\":1566907920043,\"y\":22.03460657657658},{\"x\":1566907980044,\"y\":22.031238378378376},{\"x\":1566908040043,\"y\":22.062023727272727},{\"x\":1566908100044,\"y\":22.07501990990991},{\"x\":1566908160044,\"y\":22.067121363636364},{\"x\":1566908220043,\"y\":22.085123603603602},{\"x\":1566908280044,\"y\":22.069968738738737},{\"x\":1566908340043,\"y\":22.03653536363636},{\"x\":1566908400044,\"y\":22.04976189189189},{\"x\":1566908460043,\"y\":22.05649765765766},{\"x\":1566908520044,\"y\":22.060324454545455},{\"x\":1566908580044,\"y\":22.08343990990991},{\"x\":1566908640043,\"y\":22.111300818181817},{\"x\":1566908700043,\"y\":22.150795405405404},{\"x\":1566908760044,\"y\":22.155847207207206},{\"x\":1566908820043,\"y\":22.162276454545456},{\"x\":1566908880044,\"y\":22.14911171171171},{\"x\":1566908940045,\"y\":22.140692252252254},{\"x\":1566909000051,\"y\":22.143585363636365},{\"x\":1566909060051,\"y\":22.14742792792793},{\"x\":1566909120051,\"y\":22.15038236363636},{\"x\":1566909180051,\"y\":22.123853423423423},{\"x\":1566909240051,\"y\":22.132272612612613},{\"x\":1566909300052,\"y\":22.128292454545452},{\"x\":1566909360052,\"y\":22.13732423423423},{\"x\":1566909420051,\"y\":22.13338990909091},{\"x\":1566909480051,\"y\":22.139008378378378},{\"x\":1566909540052,\"y\":22.157531171171172},{\"x\":1566909600052,\"y\":22.15378027272727},{\"x\":1566909660052,\"y\":22.14911171171171},{\"x\":1566909720052,\"y\":22.176054144144146},{\"x\":1566909780052,\"y\":22.160577454545454},{\"x\":1566909840052,\"y\":22.164266666666666},{\"x\":1566909900052,\"y\":22.179268727272728},{\"x\":1566909960052,\"y\":22.172686216216217},{\"x\":1566910020051,\"y\":22.164266936936933},{\"x\":1566910080052,\"y\":22.162276727272726},{\"x\":1566910140052,\"y\":22.15416342342342},{\"x\":1566910200051,\"y\":22.162582702702704},{\"x\":1566910260051,\"y\":22.148683272727272},{\"x\":1566910320052,\"y\":22.130588828828827},{\"x\":1566910380052,\"y\":22.145284363636364},{\"x\":1566910440053,\"y\":22.169318468468468},{\"x\":1566910500053,\"y\":22.162582972972974},{\"x\":1566910560053,\"y\":22.201358636363636},{\"x\":1566910620052,\"y\":22.197945135135132},{\"x\":1566910680053,\"y\":22.194576936936937},{\"x\":1566910740053,\"y\":22.208155727272725},{\"x\":1566910800052,\"y\":22.19626099099099},{\"x\":1566910860053,\"y\":22.218350818181815},{\"x\":1566910920053,\"y\":22.219835945945945},{\"x\":1566910980053,\"y\":22.20804873873874},{\"x\":1566911040052,\"y\":22.230245909090907},{\"x\":1566911100052,\"y\":22.22993981981982},{\"x\":1566911160053,\"y\":22.26025081081081},{\"x\":1566911220053,\"y\":22.26423072727273},{\"x\":1566911280053,\"y\":22.263618378378375},{\"x\":1566911340053,\"y\":22.27708990990991},{\"x\":1566911400053,\"y\":22.289719636363635},{\"x\":1566911460053,\"y\":22.28719405405405},{\"x\":1566911520053,\"y\":22.298882549019606},{\"x\":1566911580053,\"y\":22.344447117117113},{\"x\":1566911640054,\"y\":22.344447567567567},{\"x\":1566911700054,\"y\":22.384876999999996},{\"x\":1566911760055,\"y\":22.34949918918919},{\"x\":1566911820056,\"y\":22.400016936936936},{\"x\":1566911880055,\"y\":22.425658363636362},{\"x\":1566911940056,\"y\":22.400017567567566},{\"x\":1566912000055,\"y\":22.388275181818184},{\"x\":1566912060055,\"y\":22.386545765765764},{\"x\":1566912120056,\"y\":22.37139045045045},{\"x\":1566912180057,\"y\":22.39337318181818},{\"x\":1566912240056,\"y\":22.37644207207207},{\"x\":1566912300057,\"y\":22.344447567567567},{\"x\":1566912360058,\"y\":22.36618518181818},{\"x\":1566912420058,\"y\":22.378126576576577},{\"x\":1566912480057,\"y\":22.373074324324325},{\"x\":1566912540058,\"y\":22.35768936363636},{\"x\":1566912600058,\"y\":22.35791864864865},{\"x\":1566912660058,\"y\":22.349192999999996},{\"x\":1566912720057,\"y\":22.33266027027027},{\"x\":1566912780057,\"y\":22.352866756756754},{\"x\":1566912840058,\"y\":22.36108790909091},{\"x\":1566912900058,\"y\":22.37644225225225},{\"x\":1566912960057,\"y\":22.37980990990991},{\"x\":1566913020058,\"y\":22.383177818181817},{\"x\":1566913080058,\"y\":22.4134881981982},{\"x\":1566913140058,\"y\":22.391673545454545},{\"x\":1566913200058,\"y\":22.41854018018018},{\"x\":1566913260058,\"y\":22.416856396396398},{\"x\":1566913320057,\"y\":22.40526790909091},{\"x\":1566913380058,\"y\":22.44043081081081},{\"x\":1566913440058,\"y\":22.430327297297296},{\"x\":1566913500058,\"y\":22.43925209090909},{\"x\":1566913560059,\"y\":22.485896396396395},{\"x\":1566913620063,\"y\":22.440431081081083},{\"x\":1566913680063,\"y\":22.463041545454544},{\"x\":1566913740064,\"y\":22.497683783783785},{\"x\":1566913800064,\"y\":22.480033272727272},{\"x\":1566913860064,\"y\":22.494316216216216},{\"x\":1566913920065,\"y\":22.497683513513515},{\"x\":1566913980069,\"y\":22.514017363636363},{\"x\":1566914040066,\"y\":22.516206396396395},{\"x\":1566914100067,\"y\":22.52125846846847},{\"x\":1566914160066,\"y\":22.52421290909091},{\"x\":1566914220067,\"y\":22.50947081081081},{\"x\":1566914280067,\"y\":22.53270909090909},{\"x\":1566914340067,\"y\":22.527994144144145},{\"x\":1566914400068,\"y\":22.581879639639638},{\"x\":1566914460069,\"y\":22.564994090909092},{\"x\":1566914520069,\"y\":22.56503981981982},{\"x\":1566914580070,\"y\":22.595350900900904},{\"x\":1566914640069,\"y\":22.593881363636363},{\"x\":1566914700069,\"y\":22.59871873873874},{\"x\":1566914760070,\"y\":22.595580454545455},{\"x\":1566914820070,\"y\":22.613874144144145},{\"x\":1566914880070,\"y\":22.603770540540545},{\"x\":1566914940070,\"y\":22.581986363636364},{\"x\":1566915000069,\"y\":22.62061},{\"x\":1566915060069,\"y\":22.61936990909091},{\"x\":1566915120070,\"y\":22.613874324324325},{\"x\":1566915180069,\"y\":22.608822342342343},{\"x\":1566915240070,\"y\":22.60067854545455},{\"x\":1566915300071,\"y\":22.61555792792793},{\"x\":1566915360072,\"y\":22.634081621621622},{\"x\":1566915420072,\"y\":22.627865999999997},{\"x\":1566915480072,\"y\":22.61218981981982},{\"x\":1566915540073,\"y\":22.634662909090906},{\"x\":1566915600073,\"y\":22.613873963963965},{\"x\":1566915660074,\"y\":22.61555756756757},{\"x\":1566915720074,\"y\":22.58368581818182},{\"x\":1566915780075,\"y\":22.61724171171171},{\"x\":1566915840075,\"y\":22.620610090090093},{\"x\":1566915900076,\"y\":22.597279727272728},{\"x\":1566915960076,\"y\":22.62060981981982},{\"x\":1566916020077,\"y\":22.605775636363635},{\"x\":1566916080077,\"y\":22.60713828828829},{\"x\":1566916140077,\"y\":22.588614774774776},{\"x\":1566916200076,\"y\":22.581986363636364},{\"x\":1566916260077,\"y\":22.585247117117117},{\"x\":1566916320077,\"y\":22.575144234234234},{\"x\":1566916380077,\"y\":22.575189363636362},{\"x\":1566916440077,\"y\":22.568407657657655},{\"x\":1566916500080,\"y\":22.561595363636364},{\"x\":1566916560080,\"y\":22.544833063063063},{\"x\":1566916620079,\"y\":22.536413333333336},{\"x\":1566916680080,\"y\":22.53610718181818},{\"x\":1566916740080,\"y\":22.553252702702704},{\"x\":1566916800080,\"y\":22.54314927927928},{\"x\":1566916860079,\"y\":22.507220545454548},{\"x\":1566916920080,\"y\":22.522942162162163},{\"x\":1566916980080,\"y\":22.461342000000002},{\"x\":1566917040080,\"y\":22.47074135135135},{\"x\":1566917100079,\"y\":22.41348846846847},{\"x\":1566917160079,\"y\":22.43075590909091},{\"x\":1566917220080,\"y\":22.448850540540537},{\"x\":1566917280080,\"y\":22.400016396396396},{\"x\":1566917340080,\"y\":22.40186918181818},{\"x\":1566917400079,\"y\":22.42190837837838},{\"x\":1566917460080,\"y\":22.417161818181818},{\"x\":1566917520079,\"y\":22.423591891891892},{\"x\":1566917580079,\"y\":22.41517198198198},{\"x\":1566917640080,\"y\":22.469838},{\"x\":1566917700080,\"y\":22.435379189189188},{\"x\":1566917760080,\"y\":22.443798198198195},{\"x\":1566917820080,\"y\":22.449447545454547},{\"x\":1566917880081,\"y\":22.472424864864863},{\"x\":1566917940081,\"y\":22.468138636363637},{\"x\":1566918000082,\"y\":22.48589612612613},{\"x\":1566918060082,\"y\":22.472424684684686},{\"x\":1566918120082,\"y\":22.461342363636362},{\"x\":1566918180082,\"y\":22.460637657657657},{\"x\":1566918240083,\"y\":22.477476756756758},{\"x\":1566918300083,\"y\":22.483431454545453},{\"x\":1566918360084,\"y\":22.452218018018016},{\"x\":1566918420084,\"y\":22.476634909090908},{\"x\":1566918480083,\"y\":22.47074135135135},{\"x\":1566918540084,\"y\":22.455585855855855},{\"x\":1566918600083,\"y\":22.45114636363636},{\"x\":1566918660084,\"y\":22.469056846846847},{\"x\":1566918720084,\"y\":22.45221792792793},{\"x\":1566918780084,\"y\":22.451146727272725},{\"x\":1566918840084,\"y\":22.462321801801803},{\"x\":1566918900093,\"y\":22.45727027027027},{\"x\":1566918960094,\"y\":22.452845454545457},{\"x\":1566919020094,\"y\":22.411804234234236},{\"x\":1566919080094,\"y\":22.456243999999998},{\"x\":1566919140094,\"y\":22.45221828828829},{\"x\":1566919200094,\"y\":22.470741081081083},{\"x\":1566919260094,\"y\":22.478334},{\"x\":1566919320094,\"y\":22.44379864864865},{\"x\":1566919380094,\"y\":22.41853990990991},{\"x\":1566919440094,\"y\":22.43585345454545},{\"x\":1566919500094,\"y\":22.40506900900901},{\"x\":1566919560094,\"y\":22.40526790909091},{\"x\":1566919620094,\"y\":22.421908108108106},{\"x\":1566919680094,\"y\":22.41517207207207},{\"x\":1566919740094,\"y\":22.38827527272727},{\"x\":1566919800094,\"y\":22.356234864864863},{\"x\":1566919860095,\"y\":22.3629709009009},{\"x\":1566919920094,\"y\":22.352591636363638},{\"x\":1566919980095,\"y\":22.362970630630628},{\"x\":1566920040099,\"y\":22.35455108108108},{\"x\":1566920100099,\"y\":22.328802636363637},{\"x\":1566920160100,\"y\":22.309085135135135},{\"x\":1566920220100,\"y\":22.313509454545454},{\"x\":1566920280101,\"y\":22.29898144144144},{\"x\":1566920340102,\"y\":22.32760828828829},{\"x\":1566920400103,\"y\":22.306711909090907},{\"x\":1566920460102,\"y\":22.283825855855856},{\"x\":1566920520103,\"y\":22.287193963963965},{\"x\":1566920580103,\"y\":22.29821609090909},{\"x\":1566920640103,\"y\":22.278773963963964},{\"x\":1566920700103,\"y\":22.27709009009009},{\"x\":1566920760104,\"y\":22.271027818181818},{\"x\":1566920820104,\"y\":22.287193783783785},{\"x\":1566920880104,\"y\":22.3023490990991},{\"x\":1566920940105,\"y\":22.282922727272727},{\"x\":1566921000105,\"y\":22.27877405405405},{\"x\":1566921060108,\"y\":22.27709009009009},{\"x\":1566921120109,\"y\":22.305013363636363},{\"x\":1566921180109,\"y\":22.305716846846845},{\"x\":1566921240108,\"y\":22.315208000000002},{\"x\":1566921300109,\"y\":22.305716846846845},{\"x\":1566921360109,\"y\":22.317504684684685},{\"x\":1566921420109,\"y\":22.323704272727273},{\"x\":1566921480110,\"y\":22.332660090090087},{\"x\":1566921540109,\"y\":22.352867297297298},{\"x\":1566921600110,\"y\":22.328802},{\"x\":1566921660110,\"y\":22.325924234234233},{\"x\":1566921720110,\"y\":22.338997727272726},{\"x\":1566921780110,\"y\":22.334343963963963},{\"x\":1566921840110,\"y\":22.32929216216216},{\"x\":1566921900109,\"y\":22.36448581818182},{\"x\":1566921960109,\"y\":22.35455099099099},{\"x\":1566922020110,\"y\":22.373074684684685},{\"x\":1566922080109,\"y\":22.38487709090909},{\"x\":1566922140110,\"y\":22.38822936936937},{\"x\":1566922200109,\"y\":22.38486171171171},{\"x\":1566922260110,\"y\":22.405267818181816},{\"x\":1566922320111,\"y\":22.41853981981982},{\"x\":1566922380110,\"y\":22.44604890909091},{\"x\":1566922440111,\"y\":22.433695405405405},{\"x\":1566922500111,\"y\":22.42190792792793},{\"x\":1566922560112,\"y\":22.449447545454547},{\"x\":1566922620112,\"y\":22.462321171171173},{\"x\":1566922680112,\"y\":22.44379846846847},{\"x\":1566922740112,\"y\":22.444349636363636},{\"x\":1566922800113,\"y\":22.48589630630631},{\"x\":1566922860113,\"y\":22.476634727272724},{\"x\":1566922920113,\"y\":22.464005585585586},{\"x\":1566922980113,\"y\":22.517890990990992},{\"x\":1566923040112,\"y\":22.515716636363635},{\"x\":1566923100113,\"y\":22.553252522522524},{\"x\":1566923160113,\"y\":22.6037709009009},{\"x\":1566923220113,\"y\":22.607475},{\"x\":1566923280113,\"y\":22.639133063063063},{\"x\":1566923340112,\"y\":22.666949000000002},{\"x\":1566923400113,\"y\":22.711543153153155},{\"x\":1566923460112,\"y\":22.728382972972973},{\"x\":1566923520113,\"y\":22.762107909090908},{\"x\":1566923580117,\"y\":22.802477027027027},{\"x\":1566923640118,\"y\":22.790689279279277},{\"x\":1566923700118,\"y\":22.798547777777777},{\"x\":1566923760119,\"y\":22.80289036363636},{\"x\":1566923820119,\"y\":22.826052522522524},{\"x\":1566923880119,\"y\":22.811386727272726},{\"x\":1566923940120,\"y\":22.82436855855856},{\"x\":1566924000121,\"y\":22.84120810810811},{\"x\":1566924060122,\"y\":22.855567727272728},{\"x\":1566924120122,\"y\":22.851311981981986},{\"x\":1566924180122,\"y\":22.8412081981982},{\"x\":1566924240122,\"y\":22.852169181818184},{\"x\":1566924300122,\"y\":22.878255225225228},{\"x\":1566924360122,\"y\":22.87230635514019},{\"x\":1566924420122,\"y\":22.877763451327436},{\"x\":1566924480122,\"y\":22.887853818181817},{\"x\":1566924540123,\"y\":22.884991171171173},{\"x\":1566924625968,\"y\":22.88966270967742},{\"x\":1566924685969,\"y\":22.896779009009013},{\"x\":1566924745970,\"y\":22.90654563636364},{\"x\":1566924805970,\"y\":22.91361810810811}]],\"labels\":[\"\"]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":656.5,"y":333,"wires":[["30676bc9.904f14","add4ddbd.351ed"]]},{"id":"417b353d.569d6c","type":"debug","z":"9c0f0d4b.834c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1255,"y":328,"wires":[]},{"id":"30676bc9.904f14","type":"change","z":"9c0f0d4b.834c5","name":"","rules":[{"t":"set","p":"payload[0].data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":968.5,"y":334,"wires":[[]]},{"id":"a6aaded1.85575","type":"inject","z":"9c0f0d4b.834c5","name":"DADOS MYSQL","topic":"","payload":"[{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.1\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-25T23:00:00.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:25:02.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:25:07.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:25:12.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:25:17.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:25:22.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:25:27.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:25:32.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:25:37.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:25:42.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:25:47.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:25:52.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:25:57.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:02.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:07.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:26:12.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:17.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:26:22.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:27.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:32.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:37.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:42.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:47.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:52.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:26:57.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:27:02.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:07.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:12.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:17.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:22.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:27.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:32.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:38.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:43.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:27:48.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:53.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:27:58.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:03.000Z\",\"temp1\":\"26.3\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:08.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:13.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:18.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:23.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:28:28.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:33.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:38.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:43.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:48.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:53.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:28:58.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:29:03.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:29:08.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:29:13.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:29:18.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:29:23.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:29:28.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:29:33.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:29:39.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:29:44.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:29:49.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:29:54.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:29:59.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:30:04.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:30:09.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:30:14.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:30:19.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:30:24.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:30:29.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:30:34.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:30:40.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:30:45.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:30:48.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:30:54.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:02.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:07.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:12.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:17.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:22.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:27.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:32.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:37.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:42.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:31:47.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:31:52.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:31:57.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:32:02.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:32:07.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:32:12.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:32:17.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:32:22.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:32:27.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:32:32.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:32:37.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:32:42.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:32:47.000Z\",\"temp1\":\"26.8\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:32:52.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:32:57.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:02.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:07.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:33:12.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:18.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:23.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.76\"},{\"Data\":\"2019-08-26T16:33:28.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:33:33.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:38.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:43.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:48.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:53.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:33:58.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:34:03.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:34:08.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:34:13.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:34:18.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:34:23.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:34:28.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:34:33.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:34:38.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:34:43.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:34:48.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:34:53.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:34:58.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:35:03.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:35:08.000Z\",\"temp1\":\"26.4\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:35:16.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:35:21.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:35:26.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:35:31.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:35:36.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:35:41.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:35:46.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:35:51.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:35:56.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:01.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:04.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:05.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:06.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:07.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:08.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:09.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:10.000Z\",\"temp1\":\"26.5\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:11.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:12.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:13.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:14.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:15.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:16.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:17.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:18.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:19.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:20.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:21.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:22.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:23.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:24.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:25.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:26.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:27.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:28.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:29.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:30.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:31.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:32.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:33.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:34.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:35.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:36.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:37.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:38.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:36:39.000Z\",\"temp1\":\"26.8\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:40.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:41.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:42.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:43.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:44.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:45.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:51.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:52.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:53.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:54.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:55.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:36:56.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:57.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:36:58.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:36:59.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:00.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:01.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:02.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:03.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:04.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:05.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:06.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:07.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:08.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:09.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:10.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:11.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:12.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:13.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:14.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:15.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:16.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:17.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:18.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:19.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:20.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:21.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:22.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:23.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:24.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:25.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:26.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:27.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:28.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:29.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:30.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:31.000Z\",\"temp1\":\"26.9\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:32.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:33.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:34.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:35.000Z\",\"temp1\":\"26.6\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:36.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:37.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:38.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:39.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:40.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:41.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:42.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:43.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:44.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:45.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:46.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:47.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:48.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:49.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:50.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:51.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:52.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:53.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:54.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:55.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:56.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:37:57.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:37:58.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:37:59.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:00.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:01.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:02.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:03.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:04.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:05.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:06.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:07.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:08.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:09.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:10.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:11.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:12.000Z\",\"temp1\":\"26.9\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:13.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:14.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:15.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:16.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:17.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:19.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:20.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:21.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:22.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:23.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:24.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:25.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:27.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:28.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:29.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:30.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:31.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:32.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:33.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:34.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:35.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:36.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:37.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:38:38.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:39.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:40.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:41.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:42.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:43.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:44.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:45.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:46.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:47.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:48.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:49.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:50.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:51.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:52.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:53.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:38:54.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:55.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:56.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:38:57.000Z\",\"temp1\":\"26.8\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:58.000Z\",\"temp1\":\"26.8\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:38:59.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:00.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:01.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:02.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:03.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:39:04.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:05.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:06.000Z\",\"temp1\":\"26.5\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:07.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:08.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:09.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:10.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:11.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:12.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:13.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:14.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:15.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:16.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:17.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:18.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:19.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:20.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:21.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:22.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:23.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:24.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:25.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:26.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:27.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:28.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:29.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:39:30.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:31.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:32.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:33.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:34.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:39:35.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:36.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:37.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:38.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:39.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:39:40.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:41.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:42.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:43.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:44.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:45.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:46.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:47.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:48.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:49.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:50.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:51.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:52.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:53.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:54.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:39:55.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:56.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:39:57.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:39:58.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:39:59.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:00.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:01.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:02.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:03.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:04.000Z\",\"temp1\":\"26.7\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:40:05.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:06.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:40:07.000Z\",\"temp1\":\"26.6\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:08.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:09.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:10.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:11.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:12.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:13.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:14.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:15.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:16.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:17.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:18.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:19.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:20.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:40:21.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:22.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:23.000Z\",\"temp1\":\"26.9\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:40:24.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:25.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:26.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:27.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:28.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:29.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:30.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:31.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:32.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:33.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:34.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:35.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:36.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:37.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:38.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:39.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:40.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:41.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:40:42.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:43.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:40:44.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:45.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:46.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:47.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:48.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:40:49.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:50.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:40:51.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:52.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:53.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:54.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:55.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:56.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:40:57.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:58.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:40:59.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:00.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:01.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:02.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:03.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:04.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:05.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:06.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:07.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:08.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:09.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:10.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:11.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:12.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:13.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:14.000Z\",\"temp1\":\"26.9\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:41:15.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:16.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:17.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:18.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:19.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:21.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:22.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:23.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:24.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:25.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:26.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:27.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:28.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:29.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:30.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:31.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:32.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:33.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:34.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:35.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:36.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:37.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:38.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:39.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:40.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:41.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:42.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:43.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:44.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:45.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:46.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:47.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:48.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:49.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:50.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:51.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:52.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:53.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:54.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:41:55.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:56.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:41:57.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:58.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:41:59.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:00.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:01.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:02.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:03.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:04.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:05.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:06.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:07.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:08.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:09.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:10.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:11.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:12.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:13.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:14.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:15.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:16.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:17.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:18.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:19.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:20.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:21.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:22.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:23.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:24.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:25.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:26.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:27.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:28.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:29.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:30.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:31.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:32.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:33.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:34.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:35.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:36.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:37.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:38.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:39.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:40.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:41.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:42.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:42:43.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:44.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:45.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:46.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:47.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:48.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:49.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:50.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:51.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:52.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:42:53.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:54.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:55.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:42:56.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:57.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:58.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:42:59.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:43:00.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:08.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:09.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:10.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:43:11.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:12.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:13.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:14.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:15.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:43:16.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:43:17.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:18.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:19.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:20.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:21.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:22.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:43:23.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:24.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:25.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:26.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:27.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:28.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:29.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:30.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:32.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:33.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:34.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:35.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:43:36.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:37.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:38.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:39.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:40.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:41.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:42.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:43:43.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:44.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:45.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:46.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:47.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:43:48.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:49.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:50.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:51.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:52.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:43:53.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:54.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:55.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:56.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:43:57.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:58.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:43:59.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:00.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:01.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:02.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:03.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:44:04.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:05.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:06.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:07.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:44:08.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:09.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:10.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:11.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:12.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:13.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:14.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:15.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:16.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:17.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:44:18.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:19.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:20.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:21.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:22.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:23.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:24.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:25.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:26.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:27.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:28.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:44:29.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:30.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:31.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:32.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:33.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:34.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:35.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:36.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:37.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:44:38.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:39.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:40.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:41.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:42.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:43.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:44:44.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:45.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:46.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:47.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:44:48.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:49.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:50.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:51.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:52.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:53.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:54.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:55.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:56.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:44:57.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:58.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:44:59.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:00.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:01.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:02.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:03.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:04.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:05.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:06.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:07.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:08.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:09.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:10.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:11.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:12.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:13.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:14.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:45:15.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:16.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:17.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:18.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:19.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:20.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:21.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:22.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:45:23.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:45:24.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:45:25.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:45:26.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:45:27.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:28.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:29.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:30.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:31.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:32.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:33.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:34.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:35.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:36.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:37.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:38.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:39.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:40.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:41.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:42.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:43.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:44.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:45.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:45:46.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:47.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:48.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:45:49.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:45:50.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:45:51.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:52.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:53.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:54.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:55.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:56.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:57.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:45:58.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:45:59.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:00.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:01.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:02.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:03.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:04.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:05.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:06.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:07.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:08.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:46:09.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:10.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:11.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:12.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:13.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:14.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:15.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:17.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:18.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:19.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:20.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:21.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:46:22.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:23.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:24.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:46:25.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:26.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:27.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:28.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:29.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:30.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:31.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:32.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:33.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:34.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:35.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:36.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:37.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:46:38.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:39.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:40.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:41.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:42.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:43.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:44.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:45.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:46.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:47.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:48.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:49.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:50.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:51.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:52.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:53.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:54.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:55.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:56.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:57.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:46:58.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:46:59.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:00.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:01.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:02.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:03.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:04.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:05.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:06.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:07.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:08.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:09.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:10.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:11.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:12.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:13.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:14.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:15.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:16.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:17.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:18.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:19.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:20.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:21.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:22.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:23.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:24.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:25.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:26.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:27.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:28.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:29.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:30.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:31.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:32.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:33.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:34.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:35.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:36.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:37.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:38.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:39.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:40.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:41.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:42.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:43.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:44.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:45.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:46.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:47.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:48.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:47:49.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:50.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:51.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:52.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:47:53.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:54.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:55.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:56.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:57.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:58.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:47:59.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:00.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:01.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:02.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:03.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:48:04.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:05.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:06.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:07.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:08.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:09.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:10.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:48:11.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:12.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:13.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:14.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:15.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:16.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:17.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:18.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:19.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:20.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:48:21.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:22.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:23.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:24.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:25.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:26.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:27.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:28.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:29.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:30.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:31.000Z\",\"temp1\":\"27.1\",\"temp2\":\"22.94\"},{\"Data\":\"2019-08-26T16:48:32.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:33.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:34.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:35.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:48:36.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:37.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:38.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:39.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:40.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:41.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:42.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:43.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:48:44.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:45.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:46.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:47.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:48.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:49.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:50.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:51.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:52.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:53.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:54.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:55.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:56.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:48:57.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:48:58.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:48:59.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:49:00.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:01.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:02.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:03.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:04.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:05.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:06.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:07.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:08.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:10.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:11.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:12.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:13.000Z\",\"temp1\":\"27.2\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:14.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:15.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:16.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:17.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:18.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:19.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:20.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:21.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:22.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:23.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:24.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:25.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:49:26.000Z\",\"temp1\":\"26.7\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:49:27.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:28.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:49:29.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:30.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:31.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:32.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:33.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:34.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:35.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:36.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:37.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:38.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:39.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:40.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:41.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:49:42.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:43.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:44.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:45.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:46.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:49:47.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:49:48.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:49:49.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:50.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:51.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:52.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:53.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:54.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:55.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:56.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:49:57.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:58.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:49:59.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:50:00.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:01.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:02.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:03.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:04.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:50:05.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:50:06.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:07.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:08.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:10.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:11.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:12.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:13.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:14.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:50:15.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:50:16.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:50:17.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:18.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:19.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:20.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:21.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:22.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:50:23.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:50:24.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:50:25.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:28.000Z\",\"temp1\":\"26.8\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:29.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:50:30.000Z\",\"temp1\":\"27\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:50:31.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:32.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:33.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:34.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:35.000Z\",\"temp1\":\"27.1\",\"temp2\":\"23.69\"},{\"Data\":\"2019-08-26T16:50:36.000Z\",\"temp1\":\"27\",\"temp2\":\"23.13\"},{\"Data\":\"2019-08-26T16:50:37.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:50:38.000Z\",\"temp1\":\"26.9\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:39.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:40.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"},{\"Data\":\"2019-08-26T16:50:41.000Z\",\"temp1\":\"27\",\"temp2\":\"23.50\"},{\"Data\":\"2019-08-26T16:50:42.000Z\",\"temp1\":\"27\",\"temp2\":\"23.32\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":649,"y":408,"wires":[[]]},{"id":"fa258584.ea6de8","type":"function","z":"9c0f0d4b.834c5","name":"","func":"p=msg.payload\nvar q=[]\nq[0]=p\nmsg.payload = [\n    {\n        \"series\": [\n            \"Temp\",\n            \"Temp Ada\"\n        ],\n        \"data\": q,\n        \"labels\": [\n            \"\"\n        ]\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":991.5,"y":414,"wires":[["417b353d.569d6c"]]},{"id":"9743e08e.46dcc","type":"inject","z":"9c0f0d4b.834c5","name":"Limpar Graficos","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1096,"y":459,"wires":[["e74e1161.15e9f","add4ddbd.351ed"]]}]